[2015-05-27 16:55] smashwilson opened #1 "Generate category links in the blog post template"
We need the equivalent of this in Handlebars:

[code]

[2015-05-27 17:04] smashwilson opened #2 "Missing "Racker Powered" logo."
This asset:

![racker-powered](https://c2a32ff18d23c8f567f0-e44b0df73868b5d567b1e58e01681d15.ssl.cf5.rackcdn.com/rackerpowered-logo-79838459d447e1e48dd93c76549bdf74.png)

Didn't make the transition into the control repo.

[2015-05-27 17:14] smashwilson opened #3 ""CDN" is missing from the sidebar."
Here:

![screen shot 2015-05-27 at 1 13 44 pm](https://cloud.githubusercontent.com/assets/17565/7842606/3cfbbe88-0472-11e5-85b7-41b4ff3b9cf9.png)

[2015-05-27 17:15] smashwilson commented on #3
"Cloud Identity" has also been moved.

[2015-05-27 17:51] smashwilson opened #5 "Include favicon"
Add a mapping for the favicon.

[2015-05-27 17:57] jrperritt opened #7 "missing favicon"

[2015-05-27 18:02] jrperritt commented on #7
A few minutes too late. See #5

[2015-05-27 18:02] #7 closed, assigned to nobody

[2015-05-27 18:05] jrperritt opened #9 "Different color text"
I'm not sure who's in the wrong here:

https://developer.rackspace.com/sdks/node-js/

Under `Installation`, the code snippet has a color of `#e6db74` (yellowish) while deconst shows `#f8f8f2` (whiteish).

[2015-05-27 18:08] #3 closed, assigned to nobody

[2015-05-27 18:13] smashwilson commented on #9
Hmm! Good catch.

I _think_ this is caused by me using a newer version of Jekyll (and therefore a newer version of Pygments). There were a few changes to the markup it was generating for code samples, too.

I will double check to make sure those colors aren't coming from a stylesheet I neglected to update, though.

[2015-05-27 18:15] smashwilson opened #11 ""<no title>""
This isn't good:

![screen shot 2015-05-27 at 2 12 17 pm](https://cloud.githubusercontent.com/assets/17565/7843867/af280388-047a-11e5-9da5-5f6cc570afcc.png)

I may need to add the ability to manually specify a title for an arbitrary Sphinx page, or tweak the relevant layouts. In the meantime, let's find the pages that have this problem.
- [ ] `/docs/`

[2015-05-27 18:20] jrperritt commented on #9
Hmm, I'm not sure this is a problem with deconst.

Here: https://developer.rackspace.com/sdks/java/

under `Installation`, some commands are in yellow text and some in white.

[code]

It looks like the `nb` class is making the text white.

[2015-05-27 18:42] smashwilson commented on #2
Now present:
![screen shot 2015-05-27 at 2 42 08 pm](https://cloud.githubusercontent.com/assets/17565/7844475/92089980-047e-11e5-95bd-402a0c505280.png)

[2015-05-27 18:42] #2 closed, assigned to nobody

[2015-05-27 18:47] smashwilson commented on #1
Almost there. We're missing a comma:

![screen shot 2015-05-27 at 2 47 04 pm](https://cloud.githubusercontent.com/assets/17565/7844552/40f6ad74-047f-11e5-82ec-bb6bcfa7ccf9.png)

[2015-05-27 18:53] smashwilson commented on #1
Comma: restored.

![screen shot 2015-05-27 at 2 53 12 pm](https://cloud.githubusercontent.com/assets/17565/7844684/1e2d3122-0480-11e5-8b1f-40d9125487d5.png)

[2015-05-27 18:53] #1 closed, assigned to nobody

[2015-05-28 12:29] smashwilson commented on #5
We have achieved favicon:

![screen shot 2015-05-28 at 8 29 06 am](https://cloud.githubusercontent.com/assets/17565/7860033/9fde2f80-0513-11e5-8f98-9b45fde6dfe7.png)

:confetti_ball:

[2015-05-28 12:29] #5 closed, assigned to nobody

[2015-05-28 13:14] smashwilson commented on #11
You can now manually override the title generated by Sphinx:

![screen shot 2015-05-28 at 9 13 43 am](https://cloud.githubusercontent.com/assets/17565/7860760/e058261e-0519-11e5-8018-47977c8e6e21.png)

[2015-05-28 13:14] #11 closed, assigned to nobody

[2015-05-28 13:32] smashwilson commented on #9
Yeah, our stylesheets are identical:

[code]

(The main files only differ in the way that asset URL variables are assigned.)

[2015-06-05 14:11] annegentle opened #16 "Blockquotes within docs content are too large at 34 px, should be about 14 px"
Found when testing Core Infra User Guide assumptions page.

[2015-06-05 14:12] annegentle opened #17 "Warning admonition doesn't have styling"
Found while testing Core Infra User Guide, the Sphinx .. warning:: admonition had no styling.

[2015-06-09 11:35] annegentle commented on #16
Also found that blockquote is being output for bulleted lists between numbered list items. Opening a separate issue for tracking.

[2015-06-09 11:37] annegentle opened #20 "Blockquotes styling for bulleted lists between numbered list items"
When writing bulleted lists under a numbered list item, Sphinx is outputting blockquote around the bulleted list. This causes a larger font and a grey bar to be displayed to the left of the bullets. Need to output font size the same for both list items and remove the grey bar.

![screen shot 2015-06-08 at 5 15 16 pm](https://cloud.githubusercontent.com/assets/501981/8056841/c6f7236c-0e71-11e5-8bdd

[2015-06-09 11:41] annegentle opened #21 "Table spacing too tight on developer.rackspace.com"
For pages that have tables, the text is overlapping the table border lines. For examples see the docs-core-infra-user-guide Sphinx content, such as cloud_config/storage/cloud_block_storage_product_concepts/local_storage.html.

[2015-06-09 17:56] ktbartholomew commented on #20
@annegentle can you post a sample of the actual HTML that Sphinx generates in this case, and/or a link to this happening on the actual site?

[2015-06-09 20:01] annegentle commented on #20
Yep, here's a copy of the built HTML for the screenshot. http://rackspace-core-infra-user-guide.readthedocs.org/en/latest/cloud_interfaces/API/setup_API.html

[code]

[2015-06-09 22:05] ktbartholomew commented on #20
Semantically, there's no reason for a `<blockquote>` element to be here, so I think it would be best to work on eliminating the blockquote from the generated output. It looks like there is an easy trap to fall into here when trying to create nested lists, probably due to indentation that is off by just a space or two (see http://stackoverflow.com/questions/5550089/how-to-create-a-nested-list-in-re

[2015-06-09 22:05] #20 closed, assigned to nobody

[2015-06-11 20:22] annegentle opened #23 "When outputting definition lists; CSS truncates term with ellipses (...)"
RST source:

[code]

HTML output:

[code]

Chrome browser output:

![screen shot 2015-06-11 at 3 04 19 pm](https://cloud.githubusercontent.com/assets/501981/8117374/3e62a516-104d-11e5-8ec2-e10736a07fcf.png)

[2015-06-11 20:31] ktbartholomew commented on #23
@annegentle can you point me towards a file in `rackerlabs/docs-core-infra-user-guide` that does this?

[2015-06-12 16:42] annegentle commented on #23
I looked in the User Guide but haven't found one @ktbartholomew -- closest was http://rackspace-core-infra-user-guide.readthedocs.org/en/latest/cloud-preprod/stack.html

[2015-06-12 16:44] ktbartholomew commented on #23
@annegentle Sorry, I just assumed this was content from the user guides, but it looks like it may be from the API docs. A link to that would be helpful, too. :smile:

[2015-06-12 21:39] annegentle commented on #23
@ktbartholomew Sure, here you go: https://raw.githubusercontent.com/rackerlabs/docs-cloud-servers/master/rst/cloud-servers/dev-guide/network-extension.rst

[2015-06-18 20:43] ianthewhite opened #27 "[User Guide] next and previous buttons are small"
It took me a while to realize they were there, they blend in almost too easily with the background. Also the hyper linked text below the next and previous buttons might be easier to distinguish in a different color.

[2015-06-18 21:39] ktbartholomew commented on #27
@ianthewhite does #29 address this for you? Keep in mind, the words "previous" and "next" are not intended to be buttons or clickable at all. They are small and subtle because they only serve to provide context about which direction in a series that particular link will go.

[2015-06-18 21:40] ianthewhite commented on #27
It's better. Still have gripes on the color though, blue...blue everywhere.

[2015-06-18 21:52] ktbartholomew opened #30 "Mobile nav of user guide is unusable"
The "side nav" becomes full width and renders in full before you can get to any of the content.

![slack_for_ios_upload](https://cloud.githubusercontent.com/assets/3018940/8243178/485a2e3a-15da-11e5-9d0e-f2b8fb537e55.png)

[2015-06-18 21:59] rgbkrk commented on #30
Thanks for putting the issue in @ktbartholomew!

[2015-06-18 22:32] rose-coste opened #31 "code blocks are missing from userguide"
for example, at https://github.com/rackerlabs/docs-core-infra-user-guide/blob/master/cloud-interfaces/cli/cloudblockstorage-cli.rst, :: at the end of a paragraph asks for the next paragraph to be treated as a literal code block. http://sphinx-doc.org/rest.html#source-code explains this

Here's how I use :: at cloudblockstorage-cli.rst
- cinder users send a short command,
  reusing details provided

[2015-06-19 13:32] rose-coste opened #32 "need watermark capability"
In the userguide, it's important to be able to format a warning, as mentioned at https://github.com/rackerlabs/nexus-control/issues/17, but the one in use at https://developer.rackspace.com/docs/user-guides/infrastructure/ is only there as a partial substitute for what's really needed: a watermark on every page.

Because readers can enter a document at any point, they're unlikely to notice a warni

[2015-06-19 13:52] rose-coste opened #33 "no link to the front page from within the userguide"
From a page within the body of the userguide, for example https://developer.rackspace.com/docs/user-guides/infrastructure/cloud-intro/cloud-tour/, the left-hand TOC offers links to other pages within the body but does not offer a link to the document's front page, visible at https://developer.rackspace.com/docs/user-guides/infrastructure/.

Read The Docs handles this by providing 2 links to the fr

[2015-06-19 14:37] annegentle opened #35 "Page Not Found"
Any link I click on https://developer.rackspace.com/docs/user-guides/infrastructure gives me a page not found.

[2015-06-19 14:39] smashwilson commented on #35
Yeah, because of the way that Sphinx is constructing its relative URLs, right now you need to visit https://developer.rackspace.com/docs/user-guides/infrastructure/ instead (with the trailing slash). I'm tracking the infra work for this in deconst/deconst-docs#105.

deconst/deconst-docs#83 should be helpful as well as a partial fix, or in making it consistently broken :wink:

[2015-06-19 15:39] ianthewhite opened #36 "[user guides] change toc background to better contrasting color (dark grey or black)"
Also consider contrast change for tip boxes (orange? salmon?)

[2015-06-19 16:40] rose-coste commented on #36
I was just about to suggest shading the background for the sidebar TOC and visually distinguishing admonitions by type.

At Read the Docs, I see different colors for different kinds of admonitions:
- Tip is green+blue at http://rackspace-core-infra-user-guide.readthedocs.org/en/latest/cloud-intro/cloud-tour/compute-services.html
- Note is darkblue+lightblue at http://rackspace-core-infra-user-guid

[2015-06-22 11:33] rose-coste commented on #31
If this can't be fixed quickly, what I'll do on every page that uses :: to introduce a code block is temporarily mark each line within the block as fixed-space literal, wrapping it with ``.

[2015-06-22 11:50] rose-coste opened #37 "allow control of centering within table cell"
at https://developer.rackspace.com/docs/user-guides/infrastructure/cloud-intro/cloud-tour/network-services/ and similar pages, images within table cells are appropriately centered but that centering should not apply to text in a non-caption paragraph below those images.

It's most visible in long lines below images since those wrap within the cell, creating short centered lines with their final wo

[2015-06-22 12:04] rose-coste opened #38 "ampersand is not interpreted in title shown with Next link"
![amp](https://cloud.githubusercontent.com/assets/957576/8281328/5a6d1900-18ac-11e5-841f-3c95ad55ab05.png)

ampersand in a section title appears correctly in the left TOC but not when the title appears in the prev/next navigation at the bottom of a page and not on the page itself.

![amptitle](https://cloud.githubusercontent.com/assets/957576/8281363/dc371e4a-18ac-11e5-958a-e41e13f50168.png)

I ca

[2015-06-22 13:27] ktbartholomew commented on #31
Don't do that. There's a simple CSS style somewhere on the site that's hiding the code blocks.

[2015-06-22 13:29] ktbartholomew commented on #38
@smashwilson if something else in the stack is trying to "fix" something and causing this, we can probably take out that functionality and replace it with a Nunjucks filter.

[2015-06-22 13:33] smashwilson commented on #38
@ktbartholomew I hit this with the title a while ago - Sphinx is doing the escaping, and then Handlebars (and Nunjucks) is double-escaping it as part of its XSS protection.

We fixed it for the title by using `{{{ }}}` to drop the text in raw; it looks like the Nunjucks equivalent is the `| safe` filter.

[2015-06-22 13:52] smashwilson commented on #38
Nope, it looks like it's still there:

![screen shot 2015-06-22 at 9 51 25 am](https://cloud.githubusercontent.com/assets/17565/8283262/4be376f0-18c4-11e5-87fa-9a92449184c9.png)

Investigating :mag_right:

[2015-06-22 13:59] smashwilson commented on #38
![screen shot 2015-06-22 at 9 58 09 am](https://cloud.githubusercontent.com/assets/17565/8283401/3487f476-18c5-11e5-96b8-5fa3d3075149.png)

There we go. The webhook service didn't fire properly, for some reason. I had to SSH in and kick etcdctl by hand.

[2015-06-22 14:02] #38 closed, assigned to nobody

[2015-06-23 17:27] #27 closed, assigned to ktbartholomew

[2015-06-23 18:58] rose-coste commented on #31
this seems related to https://github.com/rackerlabs/docs-migration/issues/2, closed by using a newer stylesheet

[2015-06-23 21:26] meker12 commented on #31
So, the problem we had with the DRC template is that the styles were set up to show a certain language when you click on a tab.  So all the code is hidden, and then when you click a tab -- cURL for example, the cURL style changes to visible.  Anne Gentle worked with Shaunak to fix this.  Anne fixed it for the local Sphinx theme -- commit is here: https://github.com/rackerlabs/docs-migration/commit

[2015-06-23 21:59] annegentle commented on #31
Yeah, it's the override in https://github.com/rackerlabs/docs-migration/blob/master/drctheme/doc/_static/localsphinx.css#L3 that fixes the CSS, so blocks that aren't python or sh will still not be displayed thanks to the javascript that enables the tabs at the top of Quickstarts. I can explain more if needed @ktbartholomew just let me know.

[2015-06-23 22:39] #31 closed, assigned to nobody

[2015-06-23 22:39] #30 closed, assigned to ktbartholomew

[2015-06-23 22:45] ktbartholomew commented on #37
This is ultimately an issue with Sphinx, not with the CSS or markup in this project. Sphinx is very limited in the output it produces for tables, which makes it impossible to predictably style tables in the variety of ways they're being used. This undesirable centering is an effect of the pattern being used here: https://developer.rackspace.com/docs/user-guides/infrastructure/.

Without more verbo

[2015-06-23 22:45] #37 closed, assigned to nobody

[2015-06-23 22:48] ktbartholomew commented on #21
Tables have since been more appropriately styled throughout the entire section.

[2015-06-23 22:48] #21 closed, assigned to nobody

[2015-06-23 22:49] ktbartholomew commented on #17
Admonitions now follow the general styles of what Bootstrap refers to as [alerts](http://getbootstrap.com/components/#alerts)

[2015-06-23 22:49] #17 closed, assigned to nobody

[2015-06-23 22:51] ktbartholomew commented on #32
This is a feature that needs to be implemented within the docs content itself. At the very least, we need to establish a way to set a metadata key or section of markup that is consistent and repeatable.

[2015-06-23 22:51] #32 closed, assigned to nobody

[2015-06-23 22:51] #9 closed, assigned to nobody

[2015-06-23 22:52] ktbartholomew commented on #16
This has since been fixed by correcting the markup used to create these sections.

[2015-06-23 22:52] #16 closed, assigned to nobody

[2015-06-23 22:53] ktbartholomew commented on #35
This was fixed by deconst/presenter#46

[2015-06-23 22:53] #35 closed, assigned to nobody

[2015-06-23 23:00] #33 closed, assigned to nobody

[2015-06-24 01:52] rose-coste commented on #31
I see code now where I used to see nothing; thanks! Of all the formatting issues, this is the one that most concerned me because it meant content was actually invisible; everything else had to do with wanting to look better but this was about not being seen at all.

I appreciate all the help.

[2015-06-29 17:31] annegentle commented on #23
@ktbartholomew any progress here? Or can you just help me fix it for local builds with our Sphinx template over at https://github.com/rackerlabs/docs-migration/issues/9?

[2015-07-04 13:01] ktbartholomew opened #45 "Link to "Neutron Networking: Simple Flat Network" is broken and does not exist anymore"
@nmadhok duplicating your issue here, where this fix will eventually be applied.

---

Link to "Neutron Networking: Simple Flat Network" does not exist on the page https://developer.rackspace.com/blog/neutron-networking-vlan-provider-networks/ anymore. When I visit the link, I get Page not found error (https://developer.rackspace.com/blog/neutron-networking-simple-flat-network.html)

Also, the ``

[2015-07-10 14:34] smashwilson opened #53 "Add docs-cloud-load-balancers to staging"
This is a tracking issue to show the steps that I currently do to add content to a deconst instance. It's a bit fiddly right now.
- [x] Generate an API key for the new content repository from the content service of each deconst instance that's going to host the content. In this case, we're only publishing to staging right now, so I only had to generate that one. I do this by running `script/genkey

[2015-07-10 14:35] smashwilson commented on #53
I think you can see now why I wanted to do this myself rather than try to walk someone else through it :stuck_out_tongue:

My end goal for this process is to reduce it to _only_ opening a pull request against the content repository. I think I can even get it to open a pull request against the content repo that adds an appropriately configured `.travis.yml` to set up the build. Automate automate au

[2015-07-10 15:24] smashwilson commented on #53
Now live at http://104.130.43.81/docs/user-guides/cloud-load-balancers/, with the build configured so it'll stay up to date as you crunch along. :sparkles:

[2015-07-10 15:24] #53 closed, assigned to nobody

[2015-08-05 15:41] annegentle opened #62 "Links to blog entries ending in .html should be redirected"
In the Knowledge Center, I found this link: https://developer.rackspace.com/blog/custom-images-via-boot-dot-rackspace-dot-com-training-wheels-included.html

It currently goes to "Page not found" but should be redirected to

https://developer.rackspace.com/blog/custom-images-via-boot-dot-rackspace-dot-com-training-wheels-included/

[2015-08-07 13:22] #62 closed, assigned to nobody

[2015-08-07 13:51] ktbartholomew opened #66 "Add blocks for SEO meta tags"
You can't complain about our site having bad SEO if every single page uses the same meta information. We should add extensible template blocks for the following meta fields:
- description
- og:title
- og:description
- og:image
- og:type (permanently `site`)
- twitter:creator
- twitter:site (permanently `@rackspace`)

[2015-08-14 00:14] annegentle commented on #45
This issue can be closed.

[2015-08-17 21:10] #36 closed, assigned to nobody

[2015-08-21 14:53] ktbartholomew commented on #66
Fixed in the redesign.

[2015-08-21 14:53] #66 closed, assigned to nobody

[2015-08-21 14:53] ktbartholomew commented on #23
Fixed in the redesign.

[2015-08-21 14:53] #23 closed, assigned to nobody

[2015-08-21 15:50] etoews opened #77 "Put the emphasis on SDK languages, not the SDK name"
Under sdks/ in the left-hand nav and the section titles put the emphasis on SDK languages, not the SDK name.

Developers don't know what Fog is but they do know they want to code in Ruby. SDK names are meaningless to developers.

[2015-08-21 15:51] etoews opened #78 "s/QUICKSTART/Getting Started/"
Everywhere you find QUICKSTART replace it with Getting Started for consistency and clarity.

[2015-08-21 15:53] etoews opened #79 "Clicking on the SDK name/lang does nothing"
If I click on the SDK name in the left-hand nav the URL in the location changes but does not go to a new page.

If I click on the SDK lang in the lang picker bar, nothing happens at all.

Browser: Chrome

[2015-08-21 15:56] etoews opened #80 "Blog pagination appears vertically"
<img width="217" alt="screen shot 2015-08-21 at 10 56 07 am" src="https://cloud.githubusercontent.com/assets/634901/9412750/4108cad8-47f3-11e5-9476-85b4afe90b3f.png">

[2015-08-21 15:58] etoews opened #81 "Blog index image justification wrong"
In the blog index an image is left justified (incorrectly).

<img width="824" alt="screen shot 2015-08-21 at 10 56 49 am" src="https://cloud.githubusercontent.com/assets/634901/9412781/7b12316a-47f3-11e5-9185-cec32b62e214.png">

In the blog post an image is right justified (correctly).

<img width="857" alt="screen shot 2015-08-21 at 10 58 19 am" src="https://cloud.githubusercontent.com/assets/634

[2015-08-21 15:59] etoews opened #82 "Missing the d.r.c Atom feed"
The d.r.c Atom feed for the blog is missing.

[2015-08-21 16:01] stephamon opened #83 "blog code samples extend beyond box"
The code samples on the blog pages extend beyond the dark grey box. This is the page I noticed it on, but I'll go click through others:

http://staging.developer.rackspace.com/blog/install-openstack-from-source6/

[2015-08-21 16:02] etoews opened #84 "Blog right-hand nav links don't work"
Under blog/ in the right-hand nav, nothing happens when you click the links.

Category Openstack should be OpenStack

Browser: Chrome

[2015-08-21 16:02] RichieSM opened #85 "The getting started links seems to remember the last language you clicked on"
From this page: http://staging.developer.rackspace.com/sdks/
Click on Getting Started (on the right): http://staging.developer.rackspace.com/docs/cloud-servers/getting-started/?lang=php
Now go back to the first page and click Getting Started on another language.
It will show you examples in the language of the first one you clicked, or sometimes the CLI.

The tab menu (the one with the languages o

[2015-08-21 16:08] DonSchenck opened #86 ""Sign up for free" button not redirecting correctly"
When clicking the "Sign up for free" button near the bottom of the page, one is _not_ taken to the cart (signup) page.

[2015-08-21 16:09] DonSchenck opened #87 ""GET STARTED NOW" button near top does nothing"
Clicking the front and center "GET STARTED NOW" button does nothing.

[2015-08-21 16:11] DonSchenck opened #88 "Mouseover on "SIGN UP" and "LOG IN" buttons, upper right, not working correctly"
[Chrome on a Mac]

When I mouse over the "SIGN UP" or "LOG IN" buttons in the upper right corner, a menu appears, but if I attempt to move into the menu, the menu disappears.

[2015-08-21 16:13] DonSchenck commented on #88
Actually, if you move your mouse VERY quickly, the menu stays. Apparently, the tiny space between the button and the menu is causing the menu to disappear.

[2015-08-21 16:17] DonSchenck opened #89 ""DOCS" and "SDKS" links at bottom are inert"
The links under "DOCS" and "SDKS" at the bottom of the page don't go anywhere.

[2015-08-21 16:30] stephamon opened #90 "core infra user guide not included"
No current links for core infra or rack CLI user guides anywhere in the staging site.

[2015-08-21 16:59] carolynvs opened #91 "Support Icons aren't Displaying"
On the homepage it looks like we are using fontawesome icons and they are not rendering for me. I've tried Mac and Windows, IE, Chrome and Firefox.

![screen shot 2015-08-21 at 11 54 08 am](https://cloud.githubusercontent.com/assets/1368985/9414125/a19d4de4-47fb-11e5-9d54-c9702c47c760.png)

From firebug I can see that the following URLs are returning 404:

https://b5ea99e642d4f136b4fb-6bcbe1ae17c3

[2015-08-21 17:03] carolynvs opened #92 "Recent Blog Posts Incorrect"
The list of recent blog posts on the homepage aren't correct.

![screen shot 2015-08-21 at 12 02 20 pm](https://cloud.githubusercontent.com/assets/1368985/9414244/8c1507f4-47fc-11e5-8dc1-3270bf6fb26e.png)

[2015-08-21 17:06] carolynvs opened #93 "Author / Tag Links in blog post go nowhere"
The author name and the category tags are all linked but do not go anywhere.

[2015-08-21 17:10] carolynvs opened #94 "Update name of .NET SDK"
http://staging.developer.rackspace.com/sdks/#openstack-net is pointing to openstack.net but that has recently changed to Rackspace.NET (see https://developer.rackspace.com/sdks/dot-net/).

Is this something that I can fix? If so just point me at the right repo/branch/file/etc.

Also the wrong sdk name is highlighted when I click on .NET
![screen shot 2015-08-21 at 12 11 09 pm](https://cloud.github

[2015-08-21 17:13] carolynvs commented on #79
This also affects the sdk links in the footer.

[2015-08-21 17:16] carolynvs opened #95 "QuickStart Guide Left Nav Links Do Nothing"
The little checkbox is colored but the page doesn't change.

http://staging.developer.rackspace.com/docs/

[2015-08-21 17:24] ktbartholomew commented on #95
Are you sure? They should filter what's shown on the right. If you check the box for compute services, it's easy to think nothing has changed, unless your browser is really tall.

[2015-08-21 17:25] carolynvs commented on #95
Doh! Yeah that was too subtle for me. :smile:  It totally works now that I know what to look for.

[2015-08-21 17:25] #95 closed, assigned to nobody

[2015-08-21 17:33] meker12 opened #96 "Docs page: Identity missing from infrastructure services on docs page"
Is this intentional?

Links to Identity content:

[Getting started](http://docs.rackspace.com/auth/api/v2.0/auth-client-devguide/content/QuickStart-000.html)
[Developer Guide](http://docs.rackspace.com/auth/api/v2.0/auth-client-devguide/content/Overview-d1e65.html)
[API Reference](http://docs.rackspace.com/auth/api/v2.0/auth-client-devguide/content/API_Operations.html)

[2015-08-21 19:13] ktbartholomew commented on #86
This behavior is the same as the current site. The "Sign up for free" button links to the signup page, not the cart.

[2015-08-21 19:13] #86 closed, assigned to nobody

[2015-08-21 19:31] ktbartholomew commented on #89
Fixed with ce4aaa2

[2015-08-21 19:31] #89 closed, assigned to nobody

[2015-08-21 20:01] ktbartholomew commented on #91
Fixed with 42f04d7

[2015-08-21 20:01] #91 closed, assigned to nobody

[2015-08-21 20:02] meker12 commented on #80
Also -- having numbers seems odd;  would be more useful to see titles, or go to open a view with a list of article titles -- how do I know if I'm interested in Item #12

[2015-08-21 20:06] meker12 commented on #81
Also spacing between text and image not wide enough, and text flow needs improvement.

[2015-08-21 20:27] ktbartholomew commented on #88
Fixed with 7ff8531

[2015-08-21 20:27] #88 closed, assigned to nobody

[2015-08-21 20:27] trentgillaspie opened #97 "Low Priority: Update "Orchestration" label in footer link"
Feedback from Cloud Orchestration PM: wanted to ensure we update the language in the footer link from "Orchestration" to "Cloud Orchestration."

[2015-08-21 21:27] ktbartholomew commented on #93
Linking the author name requires having pages for each author, which we don't and won't for the MVP. Category links are fixed though.

[2015-08-21 21:27] #93 closed, assigned to nobody

[2015-08-21 21:28] ktbartholomew commented on #92
Using an actual Jekyll loop instead of the same hard-coded post 3 times.

Beetlejuice, beetlejuice, beetlejuice!

[2015-08-21 21:28] #92 closed, assigned to nobody

[2015-08-21 21:34] ktbartholomew commented on #87
Fixed with https://github.com/rackerlabs/docs-developer-blog/commit/9e877092a2507b1749669d262f7a0eac8943f8fe

[2015-08-21 21:34] #87 closed, assigned to nobody

[2015-08-21 21:36] ktbartholomew commented on #82
It's right here: http://staging.developer.rackspace.com/atom.xml

Do you mean there's no visual link to it?

[2015-08-21 21:40] ktbartholomew commented on #81
Fixed w/ bbfbccf

[2015-08-21 21:41] #81 closed, assigned to nobody

[2015-08-21 21:44] etoews commented on #82
Depending on where the feed lives, there should be a

[code]

or maybe

[code]

in the `<head>`. I don't even see that in d.r.c right now but I swear we used to have it. Either way, we should have it in the new site.

[2015-08-21 21:46] meker12 opened #98 "Docs page: Clarification on Getting Started link"
The Getting Started links go to the SDK Quick Start.  It would be clearer if the link label said SDK Quick Start.

![docs-page](https://cloud.githubusercontent.com/assets/6391769/9419753/1e0efa9e-4824-11e5-82c2-f649e792436e.png)

[2015-08-21 21:48] meker12 commented on #78
We also have the API Getting Started content that is scheduled for migration, so I think it is better to have SDK QuickStart, and update the link label on the existing docs page to say SDK Quick Start as suggested  in issue #98

[2015-08-21 21:52] ktbartholomew commented on #80
Fixed with 2cf156c

[2015-08-21 21:52] #80 closed, assigned to nobody

[2015-08-21 22:22] ktbartholomew commented on #84
Fixed w/ 5130fdd

[2015-08-21 22:22] #84 closed, assigned to nobody

[2015-08-21 22:22] ktbartholomew commented on #83
Fixed w/ 5130fdd

[2015-08-21 22:23] #83 closed, assigned to nobody

[2015-08-21 23:09] etoews commented on #78
My preference is still for Getting Started.

[2015-08-22 02:04] annegentle commented on #78
@meker12 I'd really prefer we have one place to get started, and combine the Quick Starts with the docs.rs.com Getting Starteds across the board. I really think it can be done with some decent writing. What do you think @everett-toews are they combinable?

[2015-08-22 03:45] meker12 opened #99 "SDK page: QuickStart and Learn more labels"
- Is the label at the top of the nav bar supposed to say "QuickStart Guides"
- Duplicate _Learn more_:  heading and link label.
- _Learn more_ link opens Getting Started page with links to the SDK Quickstarts.

![sdk-tools-quickstart](https://cloud.githubusercontent.com/assets/6391769/9422359/2d472022-4856-11e5-906d-f6ee236c60b1.png)

The Getting Started link for each SDK goes to the Servers Quick

[2015-08-24 14:05] ReneeRendon opened #100 "Text extends beyond the left side bar"
The text (CLOUD NETWORKS API V2.0 EXTENSIONS) on the Cloud Networks page extends beyond the left side bar.
http://api.rackspace.com/api-ref-networks.html

[2015-08-24 15:11] technabors opened #101 "[Staging] Eyebrow wrap"
Eyebrow wraps to second line between approx 700px - 930px. This issue was resolved by hiding items until 930px in PR https://github.com/rackerlabs/docs-redesign-prototype/commit/21d6e0899573730739031d83a830cc730e459d38 on the prototype site.

[2015-08-24 15:12] technabors opened #102 "[Staging] Sign Up Drop Down"
It is suggested to remove the sign up options for Cloud Sites and Cloud Office from the sign up drop down found in the eyebrow of the site. The developer+ program does not include these two services and this could prove confusing for users of the site. With the elimination of these options the ul displayed on hover can be removed.

[2015-08-24 15:25] technabors opened #103 "[Staging] Provide Link to system Status"
A link to https://status.rackspace.com/ should be included on the site to ensure customers are able to find this information. Mockups included a stylized link within the bottom footer as shown in the attached screenshot. Options for link text included in mockup for developer / copyright review.
![image](https://cloud.githubusercontent.com/assets/586682/9444106/5da3bb68-4a4a-11e5-921b-1fa40501d51c.

[2015-08-24 15:39] technabors opened #104 "[Staging] Author Hyperlinks"
Staging has implemented hyperlinks for author names on the blog-post template. These hyperlinks currently link to nowhere. Suggestion to improve user experience is to link to a blog author page (yet to be implemented) or perform a search query for articles created by the author (yet to implemented). Until either of these actions are enabled we should remove the hyperlinks for author names to remov

[2015-08-24 15:42] technabors opened #105 "[Staging] Create 404 page template"
Currently no 404 page exists within staging. Short term suggestion - link the existing 404 template body, and including the new header / nav / footer.

[2015-08-24 16:11] technabors opened #106 "[Staging] Blog Post Image Scaling"
Currently images are not being scaled down on blog posts. This is resulting in some images moving beyond the boundaries of main content column. Adding max-width: 100% to img tags in a blog article should solve this issue. For reference see blog post http://staging.developer.rackspace.com/blog/ruled-the-stack-and-lived-to-tell-about-it/

[2015-08-24 17:26] technabors opened #107 "[Staging] Legal Review - Copy Updates"
Legal requested to perform an audit of the new docs landing page and homepage copy. This has resulted in some copy needing updating. After looking at the source code I cannot determine where to update this content. Please advise and I will send over the necessary copy updates.

[2015-08-24 17:38] annegentle commented on #107
Hey @technabors the content itself is in this repo: https://github.com/rackerlabs/docs-developer-blog

[2015-08-24 17:39] smashwilson commented on #107
Well, it's in a few places, depending on what you need to update. You're probably looking for the "redesign" branch of the docs-developer-blog repository:

https://github.com/rackerlabs/docs-developer-blog/tree/redesign

What page do you mean by "the new docs landing page?" If it's under `/docs`, then the source is in docs-quickstart, instead, again in the "redesign" branch:

https://github.com/ra

[2015-08-24 17:59] technabors commented on #107
Thanks @smashwilson I thought some voodoo was going on and wanted help in finding it. I'll find the pages in the linked repos

[2015-08-24 18:06] jnoller commented on #107
:cake:

[2015-08-24 18:31] technabors commented on #107
The following commit https://github.com/rackerlabs/docs-quickstart/commit/1af261eaadf389d04ca91a3f85f69c90742da775 and merge https://github.com/rackerlabs/docs-developer-blog/commit/cdcad3740951a81d227d60fe584743e031678120 was created to address this issue.

[2015-08-24 18:31] #107 closed, assigned to nobody

[2015-08-24 19:30] ktbartholomew commented on #106
Fixed w/ 89f7549

[2015-08-24 19:30] #106 closed, assigned to nobody

[2015-08-24 19:32] ktbartholomew commented on #104
Fixed w/ https://github.com/rackerlabs/docs-developer-blog/commit/8a8af2812dc3c5355e106455e4d80bb5550ae034

[2015-08-24 19:32] #104 closed, assigned to nobody

[2015-08-24 19:36] trentgillaspie opened #108 ""Get Started Now" should link directly to get started"
Currently, the "Get Started Now" link in the middle of the main image links to a signup page (http://staging.developer.rackspace.com/signup/) that serves as an extra step, where users must click on the "Sign Up Now!" link to be taken to the cart (https://cart.rackspace.com/cloud/developer-plus).

"Get Started Now" is a great CTA, but we risk increasing the drop rate when we do not take them to a p

[2015-08-24 19:47] trentgillaspie opened #109 "Quickstart Guide Links?"
http://staging.developer.rackspace.com/docs/

The language links (e.g. CLI, Python, etc.) work well when the visitor is in an article, but when they are on the main "Docs" page, they have no purpose. Should we keep them there? Or are the placeholders to link to the Quickstart Guides?

[2015-08-24 21:10] trentgillaspie opened #110 "SDKs page needs responsive TLC"
![image1](https://cloud.githubusercontent.com/assets/13909267/9452568/96ffb954-4a7a-11e5-87c5-8d5b53c631e9.PNG)

Is the MVP supposed to be responsive for mobile devices? Just wanted to clarify prior to making such a statement in the product bulletin.

[2015-08-24 22:40] technabors commented on #108
@trentgillaspie We have a new prototype that will addressing this issue by reskinning the signup in canon-style and providing contextual help, hence alleviating the need to have the interstitial page that provides additional information. However, this portion is not ready yet, and won't be ready for phase 1 release. So we need to make a UX decision on if the information they gain from the page is

[2015-08-24 22:42] technabors commented on #110
The design is adaptive, however it is not without bugs that need to be worked out. Best to report issue you are seeing such as this so we can work on solutions. It appears you are referencing the quickstart guide bar here. The screen shot also shows the SDKs.html page could use some love.

[2015-08-24 23:04] trentgillaspie commented on #108
Thanks for the context, Evan.

I guess, what we need to make a decision (outside of consensus), is to know when it will be released after Phase 1. If it's a relatively fast-follow, we might be able to not worry about it now. If it's going to take until November/December, we may want to talk about alternatives, etc. Thanks.

Best,
Trent

Trent Gillaspie

Rackspace | Product Manager | 303.386.6115

[2015-08-24 23:06] trentgillaspie commented on #110
Agreed. That was iOS 8 on an iPhone 5s, viewing the SDKs html page. The API Docs page was much more forgiving on the mobile device, just not 100% ideal (which is expected in the first phase release).

Thanks,
Trent

Trent Gillaspie

Rackspace | Product Manager | 303.386.6115

Strategic | Futuristic | Communication | Responsibility | Arranger

/////////////////////////////////////////////////////

[2015-08-25 13:14] ktbartholomew commented on #108
@trentgillaspie The new homepage designs are fairly mature and can probably be launched within 2 or 3 weeks, following the launch of the MVP and resolving major post-launch bugs.

The transition from the home page to the signup page is really bad right now. This is mostly because, above the fold, the two pages look almost identical. Because a negative spike in sign-ups would look really bad on thi

[2015-08-25 13:34] ktbartholomew opened #111 "From #99: Quickstart Guides Label"
@meker12:

[2015-08-25 13:35] ktbartholomew opened #112 "From #99: Duplicate "Learn more""
@meker12:

[2015-08-25 13:37] ktbartholomew opened #113 "From #99: Learn more link"
@meker12:

[2015-08-25 13:39] ktbartholomew commented on #113
The link should open `/sdks/{sdkSlug}/` instead.

[2015-08-25 13:58] ktbartholomew opened #114 "From #99: SDK Nav"
@meker12:

[2015-08-25 13:59] ktbartholomew opened #115 "From #99: Getting Started Link"
@meker12:

[2015-08-25 14:00] ktbartholomew commented on #99
Split into #111, #112, #113, #114, and #115

[2015-08-25 14:00] #99 closed, assigned to nobody

[2015-08-25 15:21] technabors opened #116 "Navigation Rackspace hoverstate"
Background hover state should be removed from the rackspace logo contained within the navigation bar. Intended behavior is for #c40022 'rack-red' to be maintained on hover.

[2015-08-25 15:35] technabors commented on #102
The signup link will also need to be updated to link to /signup or the developer+ specific cart link (https://cart.rackspace.com/cloud/developer-plus). This is being debated in #108

[2015-08-25 15:56] technabors commented on #108
Leaning towards option 2. My suggestion:

Maintain the same Banner text but update the CTA to include the $50 credit. New CTA would read, "Sign up for $50/month credit ".

Once the user gets to the signup cart for developer+ they are presented the following sidebar text on step 1.

"Your account includes a $50 monthly credit on infrastructure costs for 1 year!
Start spinning up servers soon after

[2015-08-25 16:26] ktbartholomew commented on #94
@carolynvs The highlight issue is because the Rackspace.NET section is shorter than the others by _just_ enough to confuse the scroll-spy component. We can side-step this by making the .NET section a little taller, perhaps by adding a requirements block?

![image](https://cloud.githubusercontent.com/assets/3018940/9472595/f662cd4a-4b1b-11e5-94b4-30f2b60f80a0.png)

If there are one or two requireme

[2015-08-25 16:27] ktbartholomew commented on #77
Fixed w/ https://github.com/rackerlabs/docs-developer-blog/commit/6c1bd7201c4c8ca9cb998ec6035fc3f5b22407e8

[2015-08-25 16:27] #77 closed, assigned to nobody

[2015-08-25 16:43] trentgillaspie commented on #108
Thanks for the commentary on this, guys.

I agree with Evan - I think Option 2 best serves the customer's expectation. I think there is also room to add in additional information from the interstitial page on the side bar of the cart, in order to provide more information for the customer.

Anything we can appropriately put in the cart sidebar surrounding the "sales speak" on the Sign Up page will

[2015-08-25 18:03] meker12 opened #119 "Docs page: Where can a person contribute info to update "Need link" labels?"
On the Docs page, there are some "Need links"  Where can a person contribute the info for the links?

[2015-08-25 18:25] annegentle commented on #119
In the rackerlabs/docs-quickstart repo, origin/redesign branch, the copy is in index.rst.

[2015-08-25 18:47] ktbartholomew commented on #98
Fixed w/ https://github.com/rackerlabs/docs-quickstart/commit/c33530310bcd8690cf7757cf0543c365d9d6535a

[2015-08-25 18:47] #98 closed, assigned to nobody

[2015-08-25 18:48] ktbartholomew commented on #78
Fixed w/ https://github.com/rackerlabs/docs-quickstart/commit/c33530310bcd8690cf7757cf0543c365d9d6535a (went with "Quick Start, as it matches the heading on the page you're taken to)

[2015-08-25 18:48] #78 closed, assigned to nobody

[2015-08-25 18:51] ktbartholomew commented on #96
Fixed w/ https://github.com/rackerlabs/docs-quickstart/commit/5941d73519b1e08765723a0d54c105473f14b6c8

[2015-08-25 18:51] #96 closed, assigned to nobody

[2015-08-25 18:53] ktbartholomew commented on #90
@technabors maybe you've already submitted an issue for this, but can you remind me where in the IA the core infrastructure user guide should go? We also need a home for the documentation for the Rack CLI tool.

[2015-08-25 18:54] ktbartholomew commented on #103
Since pulling in actual status information for this widget is a fairly big engineering task (and our new status page isn't officially launched yet), I'm going to defer this as a post-launch item.

[2015-08-25 19:01] ktbartholomew commented on #97
Fixed w/ b3824bb

[2015-08-25 19:01] #97 closed, assigned to nobody

[2015-08-25 19:03] ktbartholomew commented on #112
What's a better title? The box looks empty without one, but I'm trying to think of something that summarizes that area besides "extra stuff and links"

/cc @technabors

[2015-08-25 19:08] ktbartholomew commented on #113
@meker12 The behavior you described doesn't seem to exist. All the "learn more" links are pointing to the dedicated pages for their respective SDKs. Prove me wrong if I'm missing something, though.

[2015-08-25 19:08] #113 closed, assigned to nobody

[2015-08-25 19:12] trentgillaspie commented on #97
Thanks, Keith!

Trent Gillaspie

Rackspace | Product Manager | 303.386.6115

Strategic | Futuristic | Communication | Responsibility | Arranger

/////////////////////////////////////////////////////

From: Keith Bartholomew <notifications@github.com<mailto:notifications@github.com>>
Reply-To: rackerlabs/nexus-control <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, August 25,

[2015-08-25 19:14] ktbartholomew commented on #114
The new purpose of the sidebar navigation is to help users navigate the current page, not navigate between multiple pages. Users can find the quick starts for each service in the appropriate section on the docs landing page (/docs/)

[2015-08-25 19:14] #114 closed, assigned to nobody

[2015-08-25 19:37] ktbartholomew commented on #105
Fixed w/ ca4e5a1

[2015-08-25 19:37] #105 closed, assigned to nobody

[2015-08-25 19:38] ktbartholomew commented on #116
Fixed w/ a360062

[2015-08-25 19:38] #116 closed, assigned to nobody

[2015-08-25 19:40] ktbartholomew commented on #109
@trentgillaspie they were just in the mockups, so I put them there. @technabors do you know where these should go?

If we keep them, we're mixing the purpose of those links. Sometimes they mean "take me to the quickstart for this language" and other times they mean "I want to set this as my preferred language." I think having two purposes for the same component depending on context could be very c

[2015-08-25 19:45] trentgillaspie commented on #109
Thanks, Keith.

What if we had them labeled as "Quick Start Guides" when relevant on the main page and link them to the appropriate quick start guide? Then, on the coding pages, have the side label as "Preferred Language" and keep the links the same as previous, just changing the functionality and linking capabilities of said links? That would make the most sense to me as a quick fix and low LOE,

[2015-08-25 19:50] ktbartholomew commented on #102
Fixed w/ 2ddc13a

[2015-08-25 19:50] #102 closed, assigned to nobody

[2015-08-25 19:58] ktbartholomew commented on #108
Fixed w/ https://github.com/rackerlabs/docs-developer-blog/commit/64f2adacd924e3e009b057e6d2072f2e34314866

[2015-08-25 19:58] #108 closed, assigned to nobody

[2015-08-25 20:00] ktbartholomew commented on #115
Whoops, my english-parsing skills weren't so good this morning. This isn't an issue on its own, but #114 is/was.

[2015-08-25 20:00] #115 closed, assigned to nobody

[2015-08-25 20:03] ktbartholomew commented on #100
I'm not sure who maintains that site, but it's not me (yet). :speak_no_evil:

[2015-08-25 20:03] #100 closed, assigned to nobody

[2015-08-25 20:19] cyrichardson opened #120 "Cloud Files Quick Start link problem"
At http://staging.developer.rackspace.com/docs/cloud-files/getting-started/#get-object-via-cdn-url, there is a link given beside Pre-requisite that doesn't appear to be working.

[2015-08-25 20:28] cyrichardson opened #121 "Under Docs at bottom of page, CDN should be Rackspace CDN"
On the main page http://staging.developer.rackspace.com/, at the bottom of the page there is a DOCS heading with CDN listed under it. The legal name of the service is Rackspace CDN.

[2015-08-25 20:29] cyrichardson opened #122 "Under Docs at bottom of page, Cloud Backup is not listed."
On the main page http://staging.developer.rackspace.com/, at the bottom of the page under the DOCS heading, Cloud Backup is not listed.

This seems to be because there is not a Quick Start for this service, but it seems that there should still be a link to Cloud Backup here.

Another service that does not have a Quick Start and is not appearing in this list is Cloud Big Data.

[2015-08-25 20:34] ktbartholomew commented on #121
Fixed w/ e212be6

[2015-08-25 20:34] #121 closed, assigned to nobody

[2015-08-25 21:18] technabors commented on #109
These links were intended to take the user to the quick start guide for the specified language. They were initially designed to use an iconographic display of the language logo. We needed to strip out the icons for fear of an inability to use them from a legal standpoint. Their current look mirrors that of the language selector from the three column view and is confusing. Let me look into what can

[2015-08-25 21:32] ktbartholomew commented on #120
@cyrichardson I believe this is an issue for the [rackerlabs/docs-quickstart](https://github.com/rackerlabs/docs-quickstart) repo?

[2015-08-25 21:49] ktbartholomew commented on #79
Fixed w/ 30b1fd1

[2015-08-25 21:49] #79 closed, assigned to nobody

[2015-08-25 22:23] trentgillaspie commented on #109
Thanks, Evan. Keep me posted, and we'll need to assess whether or not this will push back the UX MVP ETA of 8/31. :-/

Trent

Trent Gillaspie

Rackspace | Product Manager | 303.386.6115

Strategic | Futuristic | Communication | Responsibility | Arranger

/////////////////////////////////////////////////////

From: Evan <notifications@github.com<mailto:notifications@github.com>>
Reply-To: rackerlab

[2015-08-26 13:24] cyrichardson commented on #120
@ktbartholomew Closing here and moving to the rackerlabs/docs-quickstart repo. Thanks!

[2015-08-26 13:24] #120 closed, assigned to nobody

[2015-08-26 13:24] cyrichardson commented on #122
Maybe those without Quick Starts should open to the API reference page.

[2015-08-26 13:25] ktbartholomew opened #123 "Paginated docs need prev/next links"
Includes core-infra and rackcli docs

[2015-08-26 18:54] technabors commented on #90
@stephamon This AM @ktbartholomew  and I discussed this issue. It seems in the longterm the I.A. of the site in intended to have a section for multiple user guides and ref architectures however this content is not currently ready and we are left with the lone Core Infra user guide. During this interim period we concluded it would be best to include it as a li under the core infrastructure products

[2015-08-26 18:57] stephamon commented on #90
@technabors That sounds fine to me while the other guides are in development. Rose should be back soon, and I'm certain she will have an opinion about it too :)

[2015-08-26 18:58] ktbartholomew commented on #90
Just for clarification:
![image](https://cloud.githubusercontent.com/assets/3018940/9503093/8c86e0d4-4bfa-11e5-9e6f-bf8fe5626088.png)

[2015-08-27 01:25] ktbartholomew commented on #85
Fixed w/ 500af15

[2015-08-27 01:25] #85 closed, assigned to nobody

[2015-08-27 01:27] ktbartholomew commented on #90
Fixed w/ https://github.com/rackerlabs/docs-quickstart/commit/854bca0aca8030a8dc8e9bd4bca1353f2959ca3c

[2015-08-27 01:27] ktbartholomew commented on #111
Fixed w/ 8798562

[2015-08-27 01:27] #111 closed, assigned to nobody

[2015-08-27 01:27] ktbartholomew commented on #112
Fixed w/ 8798562

[2015-08-27 01:27] #112 closed, assigned to nobody

[2015-08-27 01:28] ktbartholomew commented on #94
Fixed (avoided) w/ 8798562. The name may still be un-changed in some places?

[2015-08-27 01:28] #94 closed, assigned to nobody

[2015-08-27 01:48] ktbartholomew commented on #119
Fixed w/ https://github.com/rackerlabs/docs-quickstart/commit/2ca40f3c99502d8eda86c7e9e2a2f873c7af3d53

[2015-08-27 01:48] #119 closed, assigned to nobody

[2015-08-27 01:49] ktbartholomew commented on #122
Fixed w/ 27a0dc1

[2015-08-27 01:49] #122 closed, assigned to nobody

[2015-08-27 01:49] ktbartholomew commented on #109
Fixed w/ 8798562

[2015-08-27 01:49] #109 closed, assigned to nobody

[2015-08-27 02:02] ktbartholomew commented on #101
Fixed w/ 130d397

[2015-08-27 02:02] #101 closed, assigned to nobody

[2015-08-27 02:03] ktbartholomew commented on #110
Since the SDKs landing page is gone, this specific issue no longer applies, although responsive TLC is still needed elsewhere.

[2015-08-27 02:03] #110 closed, assigned to nobody

[2015-08-27 13:23] cyrichardson commented on #122
@ktbartholomew Cloud Backup has an API Getting Started Guide - http://docs.rackspace.com/rcbu/api/v1.0/rcbu-getting-started/content/Overview-d1e01.html. Wouldn't it be better to open that rather than the Dev Guide? It would then be like Cloud Big Data. Thanks for all you are doing!

[2015-08-27 13:57] meker12 opened #125 "Navigation in core infrastructure user guide"
If I'm on a topic in the Infrastructure Guide, _Interacting with the Cloud_ for example,  the left-hand navigation does not sync with the topic that I am on, and I only see the first topic in the group.

![interacting_with_the_cloud_-_rackspace_developer_portal](https://cloud.githubusercontent.com/assets/6391769/9522271/91d58884-4c99-11e5-9976-6aa8dbe8d2af.png)

If the content was built as a singl

[2015-08-27 14:56] meker12 opened #126 "SDK and Docs page -- curl and CLI examples"
CLI tab is showing curl examples --   change tab name to curl.   And then, have another for CLI?

The new QuickStart navigation looks good.  Also, combining the SDK & Docs :-) .

[2015-08-27 16:05] meker12 opened #127 "SDK Quickstart examples and intro text"
![quick-start-language-examples](https://cloud.githubusercontent.com/assets/6391769/9525570/54ca19ee-4caa-11e5-8c30-78d41fe70758.png)

To use this example, you must have the GO SDK installed.
The paragraph above the example applies to SDKs. If you are on the CLI or the cURL tab, it doesn't apply.

Change to something like:
Once you have these pieces of information, pass it to the API as shown in t

[2015-08-27 16:15] ktbartholomew commented on #127
This issue deals with the content of the documentation itself, and would be better filed in https://github.com/rackerlabs/docs-quickstart

[2015-08-27 16:15] #127 closed, assigned to nobody

[2015-08-27 16:16] ktbartholomew commented on #126
Fixed w/ f589789

[2015-08-27 16:16] #126 closed, assigned to nobody

[2015-08-27 16:27] meker12 commented on #127
Moved it.  Thanks!

[2015-08-28 14:17] technabors commented on #103
Perhaps we should perform an interim step and simply link to the system status page in the mean time?

[2015-08-28 15:13] stephamon commented on #125
Also, if we keep the format multiple pages, it'd be nice to have the previous/next page buttons back.

[2015-08-28 15:15] ktbartholomew commented on #125
@stephamon: https://github.com/rackerlabs/nexus-control/issues/123

[2015-08-28 15:20] stephamon commented on #125
Oh great, thanks

[2015-08-28 15:56] narcher7 opened #130 "Product specific User Guide links on docs page."
While the intro page is very attractive (props to Stephanie), we actually have introduction pages for Compute services within the user guide. As opposed to User Guide links on the docs page
 (http://staging.developer.rackspace.com/docs/) to the introduction page (http://staging.developer.rackspace.com/docs/user-guides/infrastructure/), I am suggesting they go to their respective introduction pages

[2015-08-28 19:34] kmsholcomb opened #131 "Alphabetize product names in Docs list at bottom of pages"
On the persistent bottom of all pages, under **Docs**, the list of services should be alphabetical. Also, change Autoscale to Auto Scale. And either remove Rackspace from the CDN listing, or add it to the Auto Scale listing. Either way, I think you can keep them at the top.

_First column:_
Auto Scale
CDN
Cloud Backup
Cloud Big Data
Cloud Block Storage
Cloud Databases
Cloud DNS
Cloud Files
Cloud I

[2015-08-28 19:46] kmsholcomb opened #132 "Match Filter options to headings on main http://staging.developer.rackspace.com/docs/ page"
On http://staging.developer.rackspace.com/docs/, the Filter list uses these terms:
• Compute
• Networking
• Storage
• Data
• Infrastructure & Developer Services
• SDKs & Tools
• Private Cloud

The headers for these sections in the main pane are:
• Compute Services
• Network Services
• Storage Services
• Database Platform Services
• Infrastructure & Developer Services
• Software Development Kits &

[2015-08-28 20:00] annegentle commented on #131
I'll take this one.

[2015-08-28 20:45] annegentle commented on #131
Fixing with https://github.com/rackerlabs/nexus-control/pull/133

[2015-08-28 20:50] annegentle commented on #132
How about Network or Networks for parallel structure since we don't have Computing nor Storing?

[2015-08-28 20:50] kmsholcomb commented on #132
Sounds fine to me!

[2015-08-28 20:51] meker12 opened #134 "QuickStart and User Guide links = System error"
You guys change the mapping or something?

[2015-08-28 20:51] ktbartholomew commented on #134
working on it.

[2015-08-28 20:54] kmsholcomb commented on #132
On second look, I withdraw the suggestion to change the heading to SDKs & Tools. I'd leave it as Software Development Kits & Tools. The all caps of the headings would make SDKS less readable.

[2015-08-29 16:55] annegentle commented on #132
Good because I just changed that to Software Development Kits from SDKs :) :+1: Also, we are not bringing in Private Cloud right now I don't believe, so good catch.

[2015-08-29 19:48] ktbartholomew commented on #134
Fixed with https://github.com/deconst/presenter/pull/69 and 4f2e545

[2015-08-29 19:48] #134 closed, assigned to nobody

[2015-08-29 19:48] ktbartholomew commented on #131
Fixed w/ #133.

[2015-08-29 19:48] #131 closed, assigned to nobody

[2015-08-29 19:49] ktbartholomew commented on #125
This is as fixed as it's going to be for the MVP. We can revisit strategies for making this experience better after that.

[2015-08-29 19:49] #125 closed, assigned to nobody

[2015-08-29 21:33] ktbartholomew commented on #123
Fixed w/ 6295d86

[2015-08-29 21:33] #123 closed, assigned to nobody

[2015-08-29 21:51] ktbartholomew commented on #130
Fixed w/ https://github.com/rackerlabs/docs-quickstart/commit/dcfa5fff4bff638ecc6727c6ca34669cd698bd4e

These links are just part of the HTML in https://github.com/rackerlabs/docs-quickstart/blob/redesign/index.rst so feel free to edit as you see fit.

[2015-08-29 21:51] #130 closed, assigned to nobody

[2015-08-31 12:18] ktbartholomew opened #137 "All pkgcloud links on /docs/ page are pointing to Pyrax resources"

[2015-08-31 14:29] smashwilson opened #138 "Separate landing pages from the developer blog"
The developer blog is by far the longest build that we run as part of this site; I've seen it take upwards of 30 minutes to complete. It's also the most failure-prone, because it uploads so many things that it's the most likely to hit Cloud Files problems and so on.

I have a few issues open already to address this at the platform level, but as a quick fix, we could easily separate the landing pag

[2015-08-31 14:31] carolynvs commented on #94
The name looks correct now, thank you!

[2015-08-31 14:34] carolynvs opened #139 ".NET SDK Getting Started Guide Link Shows Wrong Language"
When I navigate to the .NET SDK Getting Started Guide, curl is highlighted and shown in the samples instead of .NET. Once I'm on the page, I can click on .NET and it works but the initial page load is incorrect when coming from another page.

http://staging.developer.rackspace.com/docs/cloud-servers/getting-started/?lang=.net

After playing around, it appears to remember the last selected language

[2015-08-31 14:44] ktbartholomew commented on #139
Fixed w/ https://github.com/rackerlabs/docs-quickstart/commit/ee537ea0fb35f645ee722aec73ead2a580f110e3

[2015-08-31 14:44] #139 closed, assigned to nobody

[2015-08-31 14:45] carolynvs commented on #139
:cake:

[2015-08-31 14:46] #45 closed, assigned to ktbartholomew

[2015-08-31 14:48] #132 closed, assigned to nobody

[2015-08-31 15:47] ktbartholomew commented on #137
Fixed w/ https://github.com/rackerlabs/docs-quickstart/commit/b648d4293b626780d90a4fcc2c8872d1b92c1564

[2015-08-31 15:47] #137 closed, assigned to nobody

[2015-08-31 16:55] ktbartholomew opened #140 "Fonts throwing mixed content errors"
![image](https://cloud.githubusercontent.com/assets/3018940/9584528/20ef2918-4fd7-11e5-8fee-4ffcbc0faa46.png)

Just need protocol-relative URLs.

[2015-08-31 16:59] #140 closed, assigned to ktbartholomew

[2015-08-31 20:03] jnoller commented on #90
@technabors This was the wrong call - the Core Infra Guide is being heavily marketed and covers multiple products in the portfolio. We should _not_ have shipped without a decent CTA for the infra guide.

[2015-08-31 22:36] rose-coste commented on #90
Hi, I don't know what "CTA" means here but if it means "place to keep introductory doc so readers can find and use it, whether or not they're thinking about a specific product", then yes, I'd sure like to do better.
It took me several steps today to find and open the Infrastructure userguide, though I _knew_ it was there; a naive reader wouldn't be so persistent.

One of the initial motivations fo

[2015-08-31 22:49] annegentle commented on #90
CTA=Call to action?

[2015-08-31 22:51] jnoller commented on #90
Yeah, CTA is "call to action"; make it prominent/give it its own home. Evan is right that we only have one right now, but that 1 is being pushed heavily via install base marketing etc and so it needs to be lifted up ASAP

[2015-08-31 22:52] jnoller commented on #90
Yes. A call out / click here to read and why / sell it

[2015-09-01 14:31] annegentle opened #146 "All code examples in rack-cli guide are not displayed"
I've seen this before and when a language isn't selected for the page then the examples don't display.
See:
https://developer.rackspace.com/docs/rack-cli/configuration/

I think     /\* display: none!important; */ is getting overridden.

[2015-09-01 15:22] #146 closed, assigned to nobody

[2015-09-01 15:36] ktbartholomew commented on #90
@jnoller @annegentle @rose-coste we're proposing a "banner" for the user guide that looks like this.

![image](https://cloud.githubusercontent.com/assets/3018940/9608599/e287a114-5094-11e5-8e21-77dff3f73260.png)

The copy in the banner reads:

---

#### Read the Cloud Infrastructure User Guide

If you’re new to the Rackspace Cloud, we've prepared a thorough user guide that will help you get your a

[2015-09-01 19:38] rose-coste commented on #90
After consultation with the awesome Kelly, let's try this:

Read the Cloud Core Infrastructure User Guide

Discover the services at the heart of the Rackspace cloud: Servers, Networks, Images, Storage, Files. Understand how they work together to help you perform the tasks essential to your business. Learn how to interact with these core services and how the Rackspace cloud gives you a new way to g

[2015-09-01 19:44] annegentle commented on #90
I like it! Did you decide not to mention that it talks about CLI, API, SDK possibilities?

[2015-09-01 19:48] rose-coste commented on #90
Yes. I decided these were suggested by "how to interact", so I cut them out to shorten the text.

From: Anne Gentle <notifications@github.com<mailto:notifications@github.com>>
Reply-To: rackerlabs/nexus-control <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, September 1, 2015 at 2:44 PM
To: rackerlabs/nexus-control <nexus-control@noreply.github.com<mailto:nexus-control@norep

[2015-09-02 15:23] ktbartholomew opened #149 "Tealium tag not present"
Since the launch of the redesign, the Tealium tag is not being loaded correctly (at all).

/cc @steveortiz @kenperkins

[2015-09-02 20:32] #149 closed, assigned to nobody

[2015-09-08 19:15] etoews opened #153 "System Error on d.r.c blog"
Go to https://developer.rackspace.com/blog/ and click on Older Posts at the bottom.

[code]

[2015-09-08 19:19] #153 closed, assigned to nobody

[2015-09-08 19:28] etoews opened #155 "Return links to Release Notes feeds"
In the previous version of d.r.c there were links to the release notes feeds (a feed icon was linked) to the right of the link to the release notes.

But now https://developer.rackspace.com/docs/#sdks no longer has those links to the release notes feeds. Lets return the links to encourage developers to stay up to date with our SDKs.

I can see that the link still exists but the feed icon has disap

[2015-09-09 18:31] ktbartholomew opened #156 "Blog posts don't have comments"
Even when `comments: true` is set in the frontmatter.

[2015-09-09 21:42] ktbartholomew commented on #156
Fixed w/ #157

[2015-09-09 21:42] #156 closed, assigned to ktbartholomew

[2015-09-11 20:04] catlook opened #158 "Examples not displaying for API docs"
When we use Deconst client on local machine to view a docs-cloud-XXX RST document, and go to an API operation, the operation URL and the examples do not display by default.  If you choose "Python" as your language, they do!  In fact, if you have both JSON and XML examples, they all show!!

We think that JSON and XML both need to be language chooses and JSON should be default for API docs.  If poss

[2015-09-16 15:59] meker12 opened #160 "Headers need more margin-bottom when followed by certain elements"
The URIs don't show up until you click the Python tab, as described in #158 .  When they appear, the box is too close to the header.
![screen shot 2015-09-16 at 4 51 08 am](https://cloud.githubusercontent.com/assets/6391769/9910265/d74ab77c-5c61-11e5-9ab9-ea2cea8cea70.png)

[RST source for the Get tasks details method](https://github.com/rackerlabs/docs-cloud-images/blob/master/dev-guide/api-opera

[2015-09-16 16:09] ktbartholomew commented on #160
@meker12 can you link to the ReST that's creating this output?

[2015-09-17 03:09] meker12 commented on #160
Here's another example of similar issue where admonition renders too close to header from
![admonition treatment also very close to header](https://cloud.githubusercontent.com/assets/6391769/9923849/584bc0ca-5cbf-11e5-873e-874096a5d89f.png)

Spacing nice here:

![spacing-looks-nice-here](https://cloud.githubusercontent.com/assets/6391769/9923852/602c3306-5cbf-11e5-9cdd-d185a319a373.png)

[RST sour

[2015-09-17 15:00] meker12 opened #161 "Support for labels in navigation"
https://github.com/rackerlabs/docs-migration/issues/77

Keith and Evan,  Can you check the issue above to see if you can add support for navigation labels so that we can flatten the hierarchy in the API operations section to include the method names  in the nav?
Thanks

[2015-09-17 16:15] ktbartholomew opened #162 "Curly braces in blog posts (and other content) make Angular unhappy."
As seen here:

https://developer.rackspace.com/blog/keystone-to-keystone-federation-with-openstack-ansible/

https://docs.angularjs.org/error/$parse/lexerr?p0=Unterminated%20quote&p1=s%2014-15%20%5B%22%5D&p2=keystone_sp_id%22

[2015-09-17 22:43] trentgillaspie opened #163 "Cloud Infrastructure User Guide should be more prominent"
The newly-written Cloud Guide content is very core to what a new sign-up should be able to easily reference when activating on our control panel and using our Developer resources. Per conversations with Rhett Dillingham and Anand Narayanan, we want to make sure that the Guide (https://developer.rackspace.com/docs/user-guides/infrastructure/) is highlighted on our front page (whether in the body or

[2015-09-17 23:05] smashwilson commented on #163
See also #90.

[2015-09-18 03:21] meker12 commented on #161
Have a potential solution for this done through Sphinx project structure.  See https://github.com/rackerlabs/docs-migration/issues/77.

Seems to be a problem with the navigation synching when you navigate to H1 level topics in the deconst build output.  Will play with it, and open a separate issue.

Not sure if the problem is result of new navigation structure, or if it exists in other projects, t

[2015-09-18 05:47] trentgillaspie commented on #163
Thanks, @smashwilson. Did activity just stop on #90 two weeks ago?

[2015-09-18 12:26] ktbartholomew commented on #163
Yeah, sorry, that's on me. That's right about when other projects swooped in and commandeered my attention.

[2015-09-18 13:23] trentgillaspie commented on #163
Thanks for the update, @ktbartholomew. Can we revisit it given the recent conversation with additional leadership? What else is needed on top of what is discussed in #90, and is it something we could see done in the next week or so? Just give me an understanding of that timeline. Thanks a lot.

[2015-09-18 15:19] ktbartholomew commented on #90
Fixed with https://github.com/rackerlabs/docs-quickstart/pull/31

[2015-09-18 15:19] #90 closed, assigned to nobody

[2015-09-18 15:56] #162 closed, assigned to ktbartholomew

[2015-09-18 16:24] rose-coste commented on #90
Thanks! I see this now at the top of https://developer.rackspace.com/docs/. I'll watch Google Analytics to see whether we start to get more visitors.

[2015-09-18 17:23] ktbartholomew commented on #163
@trentgillaspie with #90 being resolved, I think we've done just about all we can do for right now. Next steps on this will be to include RED's @technabors and solve this problem from the beginning, rather than reacting directly to feedback.

[2015-09-18 17:27] ktbartholomew commented on #158
JSON and XML aren't programming languages, so they're not a natural fit in the language selector, which is already getting a little crowded.

If I'm understanding this correctly, the JSON and XML aren't snippets of code the user should type, but rather request/response body data from the API, right? Perhaps the code blocks can be marked as the appropriate format in the Sphinx content so they aren'

[2015-09-18 17:47] ktbartholomew commented on #161
The solutions you're proposing would have very unnatural implications on the content hierarchy. For a given page, there should only ever be **one** H1 tag. In the case of our documentation, the H1 should be reserved for the title of the entire document. Everything else within the document itself should be H2 and below.  Please make sure that the only instance of an H1 in your documents is the titl

[2015-09-18 18:41] trentgillaspie commented on #163
I didn't see that #90 had been resolved. I think this looks great. I'll follow-up with Rhett and Anand and team as well. This is already much more accessible. Thank you!

[2015-09-18 18:41] #163 closed, assigned to nobody

[2015-09-18 19:31] meker12 commented on #161
The H1 header for the Developer Guide and the API reference are their own topics.  We already have H1 headings for Overview, Concepts, General API info, and formerly API operations.

The structure of the Sphinx project is sound, and it builds perfectly in Deconst.   However, we can certainly welcome review and feedback from Evan.

Also, to be clear,  the document has only one title --   Cloud Imag

[2015-09-18 19:53] ktbartholomew commented on #161
OK, it sounds like we're just not using the same terminology regarding H1, H2, etc. The hierarchy in the left nav is not derived from whether a heading is an H1, H2, H3, but rather from the way Sphinx nests sections. Every time you add a heading under a previous one, Sphinx adds another layer. We prune the navigation to show only the top 2 layers. In terms of actual HTML output, the first and seco

[2015-09-18 21:15] meker12 commented on #161
OK --  I think we are on the same page then.  The only strange thing about the Developer Guide and API Reference headings is that they have no children.  Normally, you don't have a top-level heading without children. However, the structure doesn't cause any problems with the build output, and the deconst build delivers the content as expected, so I think we should be OK.

[2015-09-21 01:43] meker12 commented on #158
Are missing code blocks related to issue #31  that you fixed for the User Guides?

For the Developer Guides and API reference, we use the `.. code::` directive to mark up the following content:
-  cURL requests,
- API method URIs
- code snippets,
- JSON and XML request and responses example

Because the Developer and API reference don't currently support multiple languages, I wonder if its possibl

[2015-09-21 16:29] meker12 opened #169 "Javascript error when opening Sphinx based templates"
Go to the [LB dev-guide in production](https://developer.rackspace.com/docs/cloud-load-balancers/v1/developer-guide/):

![javascript-error](https://cloud.githubusercontent.com/assets/6391769/9997811/d7464728-6053-11e5-8e20-4321e681f3c0.png)

[2015-09-22 12:28] smashwilson opened #170 "/databases content got lost in the redesign"
There used to be content beneath `/databases`, but it doesn't seem to be there now:

https://developer.rackspace.com/databases/sqlserver/

What's weird is that that isn't a 404, it's an actual blank envelope.

Also, it's not linked anywhere that I can find.

/cc @jnoller

[2015-09-22 19:48] annegentle opened #172 "Dangling bar when web browser is narrow - responsive design"
On the prototype Cloud Images pages, there's a grey bar that overlaps the content when I make the web browser narrow. Mac OS, Chrome browser.

https://developer.rackspace.com/docs/cloud-images/v2/developer-guide

<img width="841" alt="screen shot 2015-09-22 at 2 37 34 pm" src="https://cloud.githubusercontent.com/assets/501981/10029674/dde8043c-6138-11e5-8d35-a496f644a911.png">

[2015-09-22 22:51] #170 closed, assigned to ktbartholomew

[2015-09-23 15:25] meker12 commented on #158
@ktbartholomew

I talked to Laura about this.  We don't have time to recode all the examples in the guides before the migration.  So, we just want to use the same fix that was implemented in the User Guide to override the javascript that hides cost based on language selector.   That way, all code in the source is displayed all the time.

We can revisit this issue after migration, and update the re

[2015-09-23 16:29] #161 closed, assigned to nobody

[2015-09-23 17:43] kenperkins commented on #169
This is not specific to the new dev guides, it's on all sphinx based pages. For example, the Cloud Servers Getting Started Guide:

https://developer.rackspace.com/docs/cloud-servers/getting-started/

[2015-09-23 18:57] #158 closed, assigned to nobody

[2015-09-23 19:07] meker12 commented on #158
Thank you!

[2015-09-23 22:02] #169 closed, assigned to ktbartholomew

[2015-09-24 20:16] annegentle opened #176 "Complete repeat of document content after clicking in side toc then scrolling to bottom of page"
Test platform: Mac OSX: Chrome, Firefox, Safari

How to replicate:
1. Go to a dev guide using the docs-singlepage template and click the last section in the left-hand sidebar toc: http://staging.developer.rackspace.com/docs-cloud-backup/v1/#list-activity-for-an-agent
1. Scroll in the right-hand pane downward. Click the `List Activity for a user` link in the left-hand page.
2. Scroll in the right-h

[2015-09-24 20:28] ktbartholomew commented on #176
This is being introduced _at least_ as early as the preparer phase. If you inspect the [envelope that's in the content service](http://staging.developer.rackspace.com:8000/content/https%3A%2F%2Fgithub.com%2Frackerlabs%2Fdocs-cloud-backup%2Fv1), you'll see that the body content all appears twice (Search the output for the string `id=\"rackspace-cloud-backup-api-1-0\"`).

Can you confirm that the ou

[2015-09-24 20:33] annegentle commented on #176
Yeah, running `make singlehtml` locally scrolls to the bottom and stops.

Here's the JSON from running `make json` which seems to have an extra internal reference:

`{"body": "<div class=\"section\" id=\"rackspace-cloud-backup-api-1-0\">\n<span id=\"index\"></span><h1>Rackspace Cloud Backup API 1.0<a class=\"headerlink\" href=\"#rackspace-cloud-backup-api-1-0\" title=\"Permalink to this headline\"

[2015-09-25 16:30] kmsholcomb commented on #172
In addition, if you scroll the window left when the window is narrow, the body text runs over the text in the nav pane.

[2015-09-25 21:18] annegentle opened #178 "Tables lines are not appearing in grey-background rows on Firefox"
For example, see http://staging.developer.rackspace.com/docs-cloud-files/#cors-headers-for-objects on Firefox on Mac. The even-numbered rows do not appear to have lines. On Chrome they do have lines.

[2015-09-25 21:25] annegentle commented on #178
There's a related issue about the spacing of words in that particular table that isn't related but noting it here in case you see it while investigating the table lines. https://github.com/rackerlabs/docs-cloud-files/issues/12

[2015-09-25 21:27] ktbartholomew commented on #178
Hooray, you've found a 4-year old Firefox bug that nobody wants to fix! https://bugzilla.mozilla.org/show_bug.cgi?id=688556

[2015-09-25 21:30] annegentle commented on #178
Ok great! Glad it's not in the source. Marking "DONTCARE" :)

[2015-09-25 21:30] #178 closed, assigned to nobody

[2015-09-26 18:25] stanzikratel opened #179 "Reference tables: dividing lines for columns for gray color don't who up in Firefox"
I noticed this issue when reviewing the Orchestration docs. In tables with multiple columns, the column dividers for the gray-colored lines don't show up, which gives the table a strange appearance. This happens on Firefox browsers. I verified this with Kyle and he tried it on Chrome and the lines do appear in Chrome (albeit weakly).
<img width="935" alt="screen shot 2015-09-26 at 1 24 51 pm" src=

[2015-09-28 12:36] annegentle commented on #179
it's a duplicate of what I logged Friday -- and a four-year-old Firefox bug. https://github.com/rackerlabs/nexus-control/issues/178

[2015-09-28 17:58] smashwilson commented on #176
Resolved as a Sphinx preparer bug. :bug:

[2015-09-28 17:58] #176 closed, assigned to nobody

[2015-10-02 01:48] etoews opened #183 "Link to rack CLI from somewhere prominent"
I wasn't able to find anywhere that links to

https://developer.rackspace.com/docs/rack-cli/

It should be somewhere really prominent on d.r.c

/cc @jrperritt

[2015-10-02 13:23] ktbartholomew commented on #183
It's with our other SDKs and tools:
![image](https://cloud.githubusercontent.com/assets/3018940/10247450/cdd64092-68de-11e5-952e-48851091befb.png)

[2015-10-08 16:04] meker12 opened #185 "Metrics dev-guide pulling source from the databases repo"
Not sure if there is a way to create a check for this to make sure the product dev-guide name and the repo prod name match.

Fix submitted in https://github.com/rackerlabs/nexus-control/issues/185

[2015-10-08 19:25] meker12 commented on #185
@smashwilson   Is there a way to include a check for matching product designation in content.json?   Maybe not fail, but at least warn that there's a discrepancy between the

So, if I had something like this, then I'd get a warning to check the content mapping.

[code]

[2015-10-08 19:34] meker12 opened #187 "Update Autoscale, CDN, and Metrics routes to remove "cloud""
In the API services, we currently have 3 products that don't follow the "Cloud x" naming convention:
- Rackspace RackConnect
- Rackspace CDN
- Rackspace AutoScale

In the current content mapping file, the RackConnect route matches the product naming convention:

[code]

Rackspace CDN and AutoScale routes include the _cloud_ designator:

[code]

From the IA perspective,  should we change the AutoSc

[2015-10-08 20:02] rose-coste commented on #187
I think Rackspace CDN, Rackspace RackConnect, and Rackspace Auto Scale (Auto Scale likes a space) are just the beginning of a trend.

@joesavak corrected me once recently when I said "Cloud Identity"; I should have said "_Rackspace_ Identity".
A RackWatch announcement dated October 1 says ""replaced by _Rackspace_ Monitoring (previously known as Cloud Monitoring)"; @wolfdancer (Shane Duan) & @stan

[2015-10-08 20:07] wolfdancer commented on #187
Hi, thanks for pulling us in.  The removal of Cloud is explicit because our products serve both cloud and dedicated customers. As we have learned in many occasions, the name "Cloud Monitoring" has prevented many dedicated customer from even looking into our products for monitoring solution.
- Rackspace Monitoring
- Rackspace Intelligence
- Rackspace Metrics

This makes these products very differen

[2015-10-08 22:18] smashwilson commented on #185
Maybe - we could add something to the "build" for this repo that would do it, I think. That's the kind of thing I'd usually just hack up and check in a REPL locally, though.

Another thought is that we could introduce the ability to map content ID prefixes with regular expression rules instead of one-by-one:

[code]

Then we'd have fewer points of failure, but it'd be a lot harder for a casual obs

[2015-10-08 22:19] smashwilson commented on #185
How many more content IDs are you expecting to add, and how soon?

Keep in mind I'm trying to do minimal deconst maintenance for at least the next several weeks.

[2015-10-08 22:24] smashwilson commented on #187
@wolfdancer Ah, that makes sense.

Is there a complete list anywhere of the current preferred names for each product, then?

[2015-10-08 22:31] wolfdancer commented on #187
@smashwilson I don't know.  Sorry.  We were acting based on the feedback for Monitoring, Metrics and Intelligence.

Officially monitoring is still called Cloud Monitoring and we are going through the change process with product marketing.  However, we have to use it now because we have learned many Rackers have outlook rule to filter out any email with "Cloud" in the title.

[2015-10-14 15:26] smashwilson commented on #187
@meker12: Are you tracking down the URLs that you want presently? I'm currently planning to tackle the change first thing tomorrow morning.

[2015-10-14 18:11] meker12 commented on #187
Yes. Would you prefer that I submit a PR with the updates in content.json and routes.json, or would you prefer an itemized list in this git issue?  The only URLs to change now are for Autoscale, CDN, and Metrics.  We already updated RackConnect.

Although it would have been nice to have thought ahead about putting the version number after Developer Guide, I don't think its a good idea to change al

[2015-10-14 18:12] smashwilson commented on #187
A PR would be super convenient. :bow: Just mark it `[wip]` and we'll know not to merge it too soon by mistake.

[2015-10-15 11:57] meker12 commented on #187
Submitted PR #192  to change the routes for CDN, AutoScale, and Metrics. Ash Wilson to merge changes and make additional updates to deploy content to the new URLs.

This work is a prerequisite to implementing the correct redirects from docs.rackspace.com for the CDN, AutoScale, and Metrics API Dev Guides.

The redirects are being implemented by @steveortiz team at 1 p.m. today.  This PR tracks the

[2015-10-15 13:20] rose-coste commented on #187
Hi, yesterday while I was out @meker12 asked my opinion of sticking with /product/version/doctype/ rather than restructuring to /product/doctype/version/. At this point you don't need my answer any more but here it is, unchanged since the meeting Tuesday:
- Tuesday - Thursday is too little time to organize a major change to the file structure. Fix the things that are definitely wrong and think mor

[2015-10-15 14:54] smashwilson commented on #187
The deconst redirects are now in place. :checkered_flag:

[2015-10-19 16:57] etoews commented on #183
Should we add a [Command Line](https://developer.rackspace.com/docs/rack-cli/) link to the top of the Quickstart Guides in the left-hand nav?

[2015-10-20 15:41] annegentle commented on #179
You can close this one, @stanzikratel thanks for reporting!

[2015-10-20 16:49] #187 closed, assigned to nobody

[2015-10-20 17:31] annegentle opened #203 "Adding Orchestration User Guide and links to template reference"
Onboarding for Orchestration needs:
1. Get Sphinx content from repo rackerlabs/rs-heat-docs to build with our `conf.py`. It becomes the Orchestration User Guide. (PR merged: https://github.com/rackerlabs/rs-heat-docs/pull/23)
2. Mike will edit and improve the landing page for the Orchestration User Guide. (In progress)
3. Set up routes for developer.rackspace.com/docs/user-guides/orchestration/ in

[2015-10-20 17:33] smashwilson commented on #203
You'll also need an API key and Travis build for rackerlabs/rs-heat-docs, correct? I'll have to set that up for you when you're ready.

[2015-10-20 17:33] annegentle commented on #203
@rackerlabs/docs-devdoc @meker12 and MikeA, I'll need your okay on the title and link routes, but I think it's user-guides/orchestration/ -- however the dev guide goes to cloud-orchestration/, so we may need to discuss.

[2015-10-20 17:33] annegentle commented on #203
@smashwilson I think Randall Burt has one, how do we use his?

[2015-10-20 17:42] smashwilson commented on #203
An API key? Roughly, and assuming a sane Ruby installation:
1. `gem install travis` to install Travis command-line utilities.
2. Break the API key into three parts of 80 characters each.
3. Enable the Travis build for the repository, either through the Travis UI or at the command line with `travis enable`.
4. In the root directory of the rs-head-docs repo, run `travis encrypt -r rackerlabs/rs-heat

[2015-10-20 17:59] meker12 commented on #203
@annegentle  For the routes, we probably want to follow the User guide pattern.

For the core infrastructure user guide, it's this:

   "^/docs/user-guides/infrastructure/"

[2015-10-20 18:00] annegentle commented on #203
Ah yes, the PR has /docs/user-guides/orchestration/ so I changed this list thanks @meker12!

[2015-10-20 18:01] meker12 commented on #203
unfortunately, we didn't follow that pattern for the dev-guides :-(

So this might feel like bike-shedding -- but maybe we do want the route to be orchestration/user-guide

so that you can get all the different deliverable types by product?

There is currently only one User Guide, and it is a guide that covers multiple products, which is different than this Orchestration Guide.

The way the User G

[2015-10-24 21:04] smashwilson opened #211 "Slow requests to content from docs-developer-blog"
This is a strange issue, because from the preparer forward, Deconst should be completely indifferent to where its metadata envelopes were prepared from. However, I've noticed that recently, on production, content that was prepared from [docs-developer-blog](https://github.com/rackerlabs/docs-developer-blog/) is consistently served much more slowly than content from other repositories like [docs-qu

[2015-10-26 00:15] meker12 commented on #160
The spacing for the API operations (Get task details looks good now.)

Other issue for the Image Sharing header still has spacing issue.  Looks like it happens after a H4 heading.  RST source for [Sample workflow for image sharing, after image creation](https://github.com/rackerlabs/docs-cloud-images/edit/master/dev-guide/concepts.rst)
Search for the following heading in that file:

[code]

[2015-10-29 20:08] #179 closed, assigned to nobody

[2015-10-30 14:21] meker12 opened #235 "Developer Guides crash on IOS chrome and safari browser"
Developer Guides crash on larger guides mainly--servers, load balances, and so on. Running iOS 9.1.

Trello card for this issue here:  https://trello.com/c/lVEsr0J9/2947-users-issues-accessing-developer-docs

[2015-10-30 14:29] meker12 commented on #235
Running v9.1

[2015-11-05 23:34] meker12 opened #237 "User request - collapsible navigation"
Updating this: Orchestration team provided feedback that they would prefer collapsible navigation to the current long form.

[2015-11-09 22:45] meker12 commented on #203
The Orchestration User Guide was added to developer.rackspace.com.  See https://developer.rackspace.com/docs/user-guides/orchestration/

[2015-11-09 22:45] #203 closed, assigned to nobody

[2015-11-09 22:48] meker12 commented on #185
Answering the previous question -- We have the next release of DNS and Load Balancers coming up in the January.

Although it would be nice to have a check like the one requested in this issue, I think its fairly low priority.  Is it OK to close this issue?

[2015-11-09 23:07] smashwilson commented on #185
Sure.

[2015-11-09 23:08] meker12 commented on #103
So it's very easy to add a link to the API Status page from the API documentation, and it seems like a useful thing for API consumers to be aware of.

There are two pages:

This one is more detailed:  https://status.rackspace.com/

This one is more attractive, but with less information:  http://www.rackspacestatus.com/

Thoughts?

[2015-11-10 00:51] rose-coste commented on #103
Given that people are most likely to want doc when something has gone wrong, I think publishing all kinds of what-might-be-wrong help in one place, or at least connecting all the sources to each other in an obvious way, would be ideal, making one stop with answers to all the basic  troubleshooting questions:
- Is this happening to everyone? (status)
- Has something changed? (release notes)
- Am I

[2015-11-10 01:50] #185 closed, assigned to nobody

[2015-11-10 02:13] meker12 commented on #160
@ktbartholomew  Trying to clean up and close some of these issues.  In general, it looks like the spacing after H3 headings in the singlehtml template looks too close; the admonition made that more obvious.

See the H3 headings in these topics for examples:

https://developer.rackspace.com/docs/cloud-images/v2/developer-guide/#image-sharing
https://developer.rackspace.com/docs/cloud-images/v2/deve

[2015-11-10 02:27] meker12 commented on #103
I think adding the status is useful.  Just need to find out which link to add.  This one seems to provide more information:   https://status.rackspace.com/.   @ktbartholomew said that its not being used.  Anyone know why?  Can we use it, or should we use the other one (http://www.rackspacestatus.com/)

[2015-11-10 04:19] jnoller commented on #103
http://www.rackspacestatus.com/ Will be canonical

[2015-11-10 05:10] ktbartholomew commented on #103
Keep in mind, the focus of this issue is that what's being asked for is not simply a link to the status page, but a dynamic "traffic light" that changes depending on system status. This requires a simple API call to the status page, but more importantly it requires that status page to be in active use and not contain silly test data like this: http://www.rackspacestatus.com/incidents/834hfj2g1ldp

[2015-11-10 15:09] meker12 commented on #103
Thx Jesse. Apologies for hijacking this issue.  Returning to regularly scheduled programming:

Add dynamic traffic light reflecting system status.

[2015-11-10 17:24] meker12 opened #240 "Build multiple API doc versions from same git repo"
In the early part of 2016, the following APIs are scheduled for release:
- Cloud DNS
- Cloud Load Balancers
- Cloud Back Up 2.0
- Cloud Identity 3.0

_Warning: There might be more that we don't know about._

We'll have new API doc versions, but the existing versions will continue to be published.

What changes will be required to enable building multiple Sphinx projects from the same repo?

We can

[2015-11-10 22:34] meker12 opened #244 "User & Dev Guide templates for mkdocs?"
So lot's of Dev's write docs in Markdown.  Here's a project that generates documentation from md source files that's similar to a Sphinx project. How difficult would it be to adapt the existing user-guide and dev-guide templates to apply them to output generated by mkdocs.

http://www.mkdocs.org/

I guess it would be a mkdocs preparer, which seems like a cross between Jekyll and Sphinx.

[2015-11-11 14:35] meker12 commented on #235
Report from Racker John Yi via e-mail:

’d like to report issues with browsing API documents via mobile. In this case the only device I can report on is a iphone 6 and a mini ipad 4. The following pictures should paint a picture of what I’m seeing and although my developer tool in chrome has a different view I think I can safely point out that there is a huge problem with the API documentation for

[2015-11-11 17:11] cyrichardson commented on #235
Additional comments coming in about problems with developer.rackspace.com. Here is one from Brian Metzler in Stratus support at 9:15 am on 11/11:

09:15 ESC_bmetzler: catherine:   please check https://developer.rackspace.com/docs/cloud-files/v1/developer-guide/
09:15 ESC_bmetzler: I don't know the problem, but it looks bad.
09:16 ESC_bmetzler: catherine: it looks to be across all the links off of

[2015-11-11 17:14] cyrichardson commented on #235
Additional comments coming in about problems with developer.rackspace.com. Here is one from Social  Media team at came in at 2:15 am on 11/11:

From: Catherine Richardson
Sent: Wednesday, November 11, 2015 10:45 AM
To: Dave Post; Knowledge Center
Cc: Help (Social Media Team)
Subject: Re: Social Media - Menu on Developer Docs site not working properly

Thanks, Dave!

I’ve forwarded this to the devs

[2015-11-11 17:26] meker12 opened #245 "System error accessing DevDocs"
Additional comments coming in about problems with developer.rackspace.com. Here is one from Brian Metzler in Stratus support at 9:15 am on 11/11:

09:15 ESC_bmetzler: catherine: please check https://developer.rackspace.com/docs/cloud-files/v1/developer-guide/
09:15 ESC_bmetzler: I don't know the problem, but it looks bad.
09:16 ESC_bmetzler: catherine: it looks to be across all the links off of do

[2015-11-11 17:28] meker12 commented on #245
Ash corrected this issue - comments from Slack

Ash Wilson [10:32 AM]
[code]

Ash Wilson [10:32 AM]
i'll roll out a presenter restart

Ash Wilson [10:33 AM]10:33
i'm still not certain why that's happening, but the change i'm trying to roll out on deconst.horse right now might help

Cat Lookabaugh [10:33 AM]
cool..thanks, man!

Ash Wilson [10:34 AM]
for anyone else's reference, if this crops up aga

[2015-11-11 17:28] #245 closed, assigned to nobody

[2015-11-11 17:32] meker12 commented on #235
Moved comments about content access issues (System error) to #245.

[2015-11-11 17:35] cyrichardson commented on #245
Laura asked that I add this to the ticket. Came in via Social Media at 2:15 am on 11/11:

From: Dave Post dpost@rackspace.com
Date: Wednesday, November 11, 2015 at 10:39 AM
To: Knowledge Center KB_center@rackspace.com
Cc: "Help (Social Media Team)" Help@rackspace.com
Subject: Social Media - Menu on Developer Docs site not working properly

Hello Knowledge Center Team,

## I hope all is going well

[2015-11-11 17:37] cyrichardson opened #246 "Can't navigate menu on developer.rackspace.com in docs"
Laura asked that I add this to the ticket. Came in via Social Media at 2:15 am on 11/11:

From: Dave Post dpost@rackspace.com
Date: Wednesday, November 11, 2015 at 10:39 AM
To: Knowledge Center KB_center@rackspace.com
Cc: "Help (Social Media Team)" Help@rackspace.com
Subject: Social Media - Menu on Developer Docs site not working properly

Hello Knowledge Center Team,
I hope all is going well toda

[2015-11-11 17:38] smashwilson commented on #246
Isn't this a duplicate of #245?

[2015-11-11 17:39] cyrichardson commented on #246
See Ash's comment above.

[2015-11-11 17:39] #246 closed, assigned to nobody

[2015-11-13 00:12] ktbartholomew commented on #235
It seems like the root cause of this is simply the sheer size of some of the documents. The browser has to render all of the visible content on the page and runs out of memory. There are two ways to fix this:
1. Shorten the pages by splitting the one mega-page into a few smaller (but still large) pages. This would follow the top-level headings in each document, so cloud servers would have separate

[2015-11-24 20:40] ktbartholomew commented on #235
"Fixed" (read: avoided) by collapsing top-level sections to avoid rendering the entire document at once.

[2015-11-24 20:40] #235 closed, assigned to nobody

[2015-11-25 12:42] smashwilson commented on #240
To summarize our discussion from yesterday, you can already do this by:
1. Putting a `_deconst.json` file in the root of each version's Sphinx directory within the content repository. Assign each a distinct `contentIDBase`. (For Cloud Big Data, we just added [a `/v#/` suffix](https://github.com/rackerlabs/docs-cloud-big-data/blob/master/dev-guide/cloud-bigdata-v2/_deconst.json#L2)).
2. Within the

[2015-12-04 19:22] meker12 opened #258 "Cloud Metrics URI has wrong version"
Per @jperritt comment in [Cloud Metrics issue #48](https://github.com/rackerlabs/docs-cloud-metrics/issues/48) the Cloud Metrics API contract is 2.0, not 1.0.

Need to update the Nexus content and routes with correct URI.

[2015-12-04 20:06] meker12 commented on #258
@smashwilson  Fixed the Metrics URI to show correct version number and submitted PR #259 .  Do you have to do something on the infrastructure side to apply this change?

[2015-12-04 20:07] smashwilson commented on #258
Negative, it'll be live shortly after you merge the pull request.

[2015-12-07 17:08] ReneeRendon opened #260 "Left navigation panel should align with doc text"
The left navigation panel should align with where the reader is at in the documentation.

For instance, when I click on API reference under Cloud Networks on this page https://developer.rackspace.com/docs/, it takes me to the API Reference section of the doc.

However, the left navigation panel does not align with API Reference. I have to scroll pretty far down to find that. It’s difficult to unde

[2015-12-08 00:08] meker12 opened #261 "Configure redirect from Metrics v1 URL to the correct v2 URL"
PR #259   fixes the Metrics contract version -- changing from v1 to the correct version v2.

@smashwilson Can you set up redirect:

From old:  https://developer.rackspace.com/docs/metrics/v1/developer-guide/

To new: https://developer.rackspace.com/docs/metrics/v2/developer-guide/

[2015-12-08 12:50] smashwilson commented on #261
Yup:

[code]

Generally I'd prefer to do both in the same pull request, just to avoid the window of time where stale links are 404s. This'll do though.

Are you going to request an update for the docs.rackspace.com link and redirect, too?

[2015-12-08 13:24] #261 closed, assigned to nobody

[2015-12-08 13:25] smashwilson commented on #258
Done in #259 and #262.

[2015-12-08 13:25] #258 closed, assigned to nobody

[2015-12-08 13:29] smashwilson opened #263 "Travis builds fail for pull requests on this fork"
When pull requests are opened from a branch on this repository (such as when a collaborator edits files with the GitHub web UI), the Travis build gets confused and fails. I should set up a `script/cibuild` that guards with the branch name like I did for the content repositories.

[2015-12-08 13:48] #263 closed, assigned to nobody

[2016-01-07 16:56] ktbartholomew opened #271 "Segregate individual sites"
Currently, each site shares a lot of files with all the others (e.g: `config/content.json`, `Gruntfile.js`). This lack of isolation makes working on individual sites kind of painful. The control repo should be organized to allow ALL configuration, content, and assets for a given site to be completely isolated from that of a different site. This may be by putting all the data for a site into a subf

[2016-01-26 16:51] ktbartholomew commented on #271
Here's the direction I'm headed. Basically, I want to make the control repo a collection of npm packages. There's a lot of "plumbing" directly inside the presenter right now, and this will let us abstract a lot of into each site and just provide a consistent interface back to the presenter.

https://github.com/deconst/deconst-control

[2016-01-27 22:52] meker12 opened #295 "Add Edit on Github link to Developer and User Guide templates"
To complete this task, we need to do the following:
- [x] Update the `_deconst.json` files in the doc source repos to include the githubURL (See
  [example](https://github.com/rackerlabs/docs-cloud-servers/blob/master/api-docs/_deconst.json). - DevDoc team
- [ ] Get UX input on placement and design of link.  (Christie's team - Evan?)
- [ ] Update the `user-guide.html` and `docs-singlehtml` to enab

[2016-01-28 21:34] meker12 opened #297 "Repos with multiple versions -- what are _deconst.json values?"
@ktbartholomew   You added the config to enable Edit on GitHub to the servers docs:

[code]

Will these values generate the correct links if you have a repo that has multiple versions of the docs?

For example, [Cloud Backup ](https://github.com/rackerlabs/docs-cloud-backup/tree/master/api-docs) will be adding V2 docs soon.

When that happens, the deliverables will be served from these URLs

https

[2016-01-28 21:41] ktbartholomew commented on #297
That should continue to work fine with no modifications.

[2016-01-28 21:41] #297 closed, assigned to nobody

[2016-01-29 20:57] meker12 commented on #295
Sent the following e-mail to follow up on expected review date for this new UI feature.

Hi Evan and Keith,

Just checking in completing on completing the
"Edit on Github" and"Report an issue" feature for the Developer and User docs.

Pretty sure that Keith completed all the backend work. I've created a Trello card to update the deonst.json files with the supporting metadata.

That means, we are j

[2016-01-29 21:51] meker12 commented on #295
Talked to Laura. She says this work is pushed out several weeks.  Created a Trello card with tentative date for Engineering work to be done on 3/1.  See https://trello.com/c/Ab5iM4dF .

If you can get to it sooner, that would be great.

[2016-02-01 21:19] meker12 commented on #295
UX prototype from Evan:

![github-button-redo-nav-5](https://cloud.githubusercontent.com/assets/6391769/12731497/e6b0c6fa-c8f6-11e5-95df-d1badd969848.png)

Suggest that the text label just say:  Report an issue or  Edit on github

[2016-02-08 19:46] #295 closed, assigned to nobody

[2016-02-19 17:49] cyrichardson opened #330 "Map Cloud Load Balancer, v2 documentation"
Same as Cloud DNS, v2. In order to provide a URL to share with teams, but it won't be linked from anywhere yet.

Please let me know if there is anything specific that I can/should do to help this along.

[2016-02-19 17:51] cyrichardson opened #331 "Map Cloud Backup, v2 documentation"
Same as Cloud DNS, v2. In order to provide a URL to share with teams, but it won't be linked from anywhere yet.

Please let me know if there is anything specific that I can/should do to help this along.

[2016-02-19 18:28] #331 closed, assigned to nobody

[2016-02-19 18:28] #330 closed, assigned to nobody

[2016-02-19 18:35] narcher7 opened #335 "Rackspace Metrics does not appear in correct row on How-to home page"
I recently added a product to the How-to support network. Managed to get the links and image icon working, however, the icon for Rackspace Metrics on the How-to home page, (https://support.rackspace.com/how-to/), is not laid out correctly.

Am I missing something?

[2016-02-19 18:53] #335 closed, assigned to ktbartholomew

[2016-02-19 20:18] meker12 commented on #244
Never mind.  We have Jekyll markdown and Sphinx preparers.  For dedicated-load-balancers project, the developer used pandoc to convert from md to rst, and then those files got copied into a Sphinx project.

That works.

[2016-02-19 20:18] #244 closed, assigned to nobody

[2016-02-23 15:48] meker12 opened #338 "API docs: change Edit on GitHub link target"
For API docs that use the docs-singlehtml.html template:

The **Edit on GitHub** link target opens the index.rst file.

Desired behavior:

Make the **Edit on GitHub** target link open the Contributing.md file for the repository,
so users get information about the project source files and how to contribute.

Example: https://github.com/rackerlabs/docs-cloud-identity/blob/master/CONTRIBUTING.md

No

[2016-02-23 15:50] meker12 opened #339 "Cloud docs: Modify Submit issue link target"
Currentlly, the submit an issue URL link opens the issues form. (See [Cloud Monitoring](https://developer.rackspace.com/docs/cloud-monitoring/v1/developer-guide/) > Submit an issue)

After the page opens, the user has to click **New issue** to open the issue form.

**Desired behavior**

Submit an issue link target that opens a new issue with a title.

https://github.com/rackerlabs/docs-rackspace/i

[2016-02-23 15:52] ktbartholomew commented on #339
`_deconst.json` will be the appropriate place to configure this behavior. Same for #338.

[2016-02-29 15:37] ktbartholomew opened #342 "Build/ship new DRC homepage"
Mockups from Evan are complete (in Box), so it's time to build it out and get it shipped!
- [x] create "typing" effect for headline text
- [x] make blog/events/news section into an interactive tab set component
- [x] fetch/parse/display product news from the product news blog
- [x] add some upcoming event data so that section isn't empty.

[2016-02-29 16:46] smashwilson opened #343 "Migrate Strider builds from temporary instance to on-cluster one"
As a stopgap to handle private repositories, I launched a Strider server on a Carina cluster a long time ago. Now that we have [a snazzy custom configured on-cluster Strider server](https://build.developer.rackspace.com/), it's time to move those off and kill [ci.deconst.horse](http://ci.deconst.horse/).
- [x] Grant @rackernexus access to each repository.
- [x] Add content repositories to the `con

[2016-02-29 18:15] smashwilson commented on #343
Strider builds are now fully migrated.

[2016-02-29 18:16] #343 closed, assigned to smashwilson

[2016-02-29 18:21] smashwilson opened #346 "Migrate Travis content builds to the hosted Deconst Strider instance"
Once deconst/deconst-docs#7 is live, we'll likely want to migrate the existing Travis builds to Strider because:
1. It'll give you a nice, dashboard view of the status of all of the documentation builds.
2. Your build will need to be on Strider to actually use the PR builder.

For each repository here, we'll need to:
1. Grant @rackernexus "admin" access to the repository as an external contributor

[2016-02-29 18:48] ktbartholomew commented on #342
I've finished the "typing" effect in the headline, pending :eyes: from Evan. Left to do:

* [ ] make blog/events/news section into an interactive tab set component
* [ ] fetch/parse/display product news from the product news blog
* [ ] add some upcoming event data so that section isn't empty.

[2016-03-02 18:44] meker12 opened #351 "Change Monitoring route to replace "docs-cloud" with Rackspace"
The official name for the Monitoring product is Rackspace Monitoring, not  Rackspace Cloud Monitoring. Change the developer.rackspace.com route to reflect the correct name.

[2016-03-02 18:46] meker12 opened #352 "Create redirect for Monitoring URLs"
Route for Monitoring docs is changing from:

https://developer.rackspace.com/docs/cloud-monitoring/v1/ ...

to

https://developer.rackspace.com/docs/rackspace-monitoring/v1/developer-guide/

Need a redirect for the old URLs.

[2016-03-02 18:55] #352 closed, assigned to smashwilson

[2016-03-02 21:22] #342 closed, assigned to ktbartholomew

[2016-03-03 14:40] ktbartholomew commented on #183
I think this qualifies as "somewhere prominent":

![image](https://cloud.githubusercontent.com/assets/3018940/13497552/834bdfcc-e11b-11e5-98d5-4a51e62de4f3.png)

[2016-03-03 14:40] #183 closed, assigned to nobody

[2016-03-03 15:36] etoews commented on #183
:boom: Indeed!

[2016-03-03 16:11] ktbartholomew opened #357 "How to get a right-aligned image to not be overlapped with code example?"
Via @annegentle:

[2016-03-03 16:12] ktbartholomew commented on #357
@annegentle can you share a link to the page where you're seeing this?

[2016-03-03 16:12] annegentle commented on #357
Oh yeah: https://developer.rackspace.com/blog/peel-content-layers/

[2016-03-03 16:18] meker12 opened #358 "Monitoring navigation not displaying"
@smashwilson  I'm able to build the Monitoring content locally, but the DRC version is missing navigation.

I did change the route yesterday.  From docs-cloud-monitoring  to  rackspace-monitoring.

https://build.developer.rackspace.com/rackerlabs/docs-cloud-monitoring/

I also redployed from Strider with same results.  Any thoughts on what issue is, and how to fix?

P.S.  In the Sphinx build, ther

[2016-03-03 16:20] smashwilson commented on #358
Without looking, I'm guessing that the page is being rendered with the wrong template. It should be `docs-singlepage.html`. I'll double-check the template routes in the control repo when I get a minute.

[2016-03-03 16:29] meker12 commented on #358
hmmm... I wonder why that would have changed.  I'll go check the source

[2016-03-03 16:39] meker12 commented on #358
OK -- If you change the URL for deploy -- need to change it in two files:
- `content.d/developer.rackspace.com.json`
- `routes.d/developer.rackspace.com.json`

Thank you @smashwilson,

[2016-03-03 16:39] #358 closed, assigned to nobody

[2016-03-03 16:42] ktbartholomew commented on #357
Add an empty tag like `<div class="clearfix"></div>` _before_ content that you want to be sure appears full width. This is only necessary for content that closely follows an image which has been floated with `class="right"` or `class="left"`.

See https://getcarina.com/blog/debugging-docker-affinity-mumble-and-feedback/ for an example of how clearfixes were used to control the layout.

[2016-03-03 16:43] smashwilson commented on #358
For context:
- the `content.d` JSON file maps the URL to the content, publishing it at a subpath on the site
- the `routes.d` JSON file determines which template is used from the [corresponding `templates/` subdirectory](https://github.com/rackerlabs/nexus-control/tree/master/templates/developer.rackspace.com) in this repository, which, among other things, determines how the side navigation is fet

[2016-03-04 17:55] annegentle commented on #357
Ok, thanks @ktbartholomew! I can fix it if you don't have time, just let me know.

[2016-03-04 18:05] #357 closed, assigned to ktbartholomew

[2016-03-04 19:59] ktbartholomew opened #361 "Modify rackspace-how-to to use Jekyll preparer instead of KCPreparer"
Connected to https://github.com/rackerlabs/rackspace-how-to/issues/560. This issue is here to provide tracking info on the dxeng board.

[2016-03-07 13:31] meker12 commented on #339
It's OK that the submit an issue link opens the issues page.  Users can see current issues, and create a new one if they want to.

[2016-03-07 13:31] #339 closed, assigned to nobody

[2016-03-09 18:01] smashwilson opened #363 "Reissue TLS certificates with SANs for the staging endpoints"
To give the staging environment endpoints I'll hopefully be deploying later today that nice green check, I'll need to reissue and redeploy Nexus' TLS certificates with these SANs:
- `staging.developer.rackspace.com`
- `content.staging.developer.rackspace.com`

[2016-03-14 17:58] smashwilson commented on #363
:closed_lock_with_key:

![screen shot 2016-03-14 at 1 57 59 pm](https://cloud.githubusercontent.com/assets/17565/13754287/cd1d125e-e9ec-11e5-98e7-80189123f842.jpeg)

[2016-03-14 17:58] #363 closed, assigned to smashwilson

[2016-03-15 12:42] smashwilson commented on #346
By the way, @meker12, I'm hesitating to flip the switch on _everything_ all at once because I'm guessing that we'll see some performance problems and growing pains on our Strider instance.

It seems to be okay so far, though. There are a few small glitches I'm trying to track down before I do the next batch.

[2016-03-15 13:18] meker12 commented on #346
Thanks for the info. It's so easy :-).  I'm working on internal doc migrations now, so don't have so much bandwidth.  If we need to get the Strider build ASAP on a project, this info is helpful.  Will leave it to you or other writers that need it right away.

+1 on not flipping all at once to avoid Strider issues.

Also, I expect that you'll send a note to everyone about the feature when you're re

[2016-03-15 13:28] smashwilson commented on #346
Well, I'm expecting that people will notice (a) the pull request that migrates their build and (b) the preview comments that start appearing on their pull requests.

[2016-03-15 13:30] meker12 opened #368 "How is githubBranch config parameter GithubBranch in _deconst.json file?"
@ktbartholomew

Is `githubBranch` parameter used to specify a specific branch for the "Edit on Github" link, for example could I use this parameter to configure a special branch for contributor PRs?

Or is this parameter just specifying the branch used to build the production version of the Sphinx project.

[2016-03-15 13:35] smashwilson commented on #368
Yes. From [deconst.horse](https://deconst.horse/writing-docs/author/#adding-a-new-content-repository):

---

No. You can override that by specifying `branches` in the `content-repositories.json` file in the control repository, [like so](https://github.com/rackerlabs/nexus-control/blob/master/content-repositories.json#L6).

[2016-03-15 13:50] meker12 commented on #346
You might want to send a note for 2 reasons:  1) Announce exciting new feature completed. 2) Provide people with explicit context for the things they are noticing and also advise about where to report any issues.   It's up to you, of course.

[2016-03-15 19:23] meker12 opened #369 "Trigger PR build only on updates to specific folders"
Several API doc projects are integrated into developer repos, like [Autoscale](https://github.com/rackerlabs/otter).  One of the Autoscale devs asked whether the PR builder webhook can be customized so that it only builds when a PR contains changes in the docs source directory.

[2016-03-15 19:26] smashwilson commented on #369
Tricky but possible. I'll have to think about that one.

[2016-03-15 19:27] smashwilson commented on #369
I can also temporarily disable PR builds for that repository if it's too much noise.

[2016-03-15 20:22] meker12 commented on #240
@smashwilson   With the change to Strider builds, do we have to do something different for repositories that host multiple builds?

[2016-03-15 20:26] manishtomar commented on #369
@smashwilson Thats not required :) It is just me on the project and the amount of noise is currently manageable.

[2016-03-16 15:34] smashwilson commented on #240
Nope! As long as each content root has a `_deconst.json` file, the Strider build plugin will find each and submit its associated content. As long as you do steps 1 and 3 it'll work correctly.

The only kind of weird thing is that it'll all be staged together (meaning, it'll all be visible under the same `/build-123456/` preview link).

[2016-03-22 15:29] ktbartholomew opened #374 "Design Search UX for DRC"

[2016-03-22 15:29] ktbartholomew opened #375 "Build search UX for DRC"

[2016-03-22 15:29] ktbartholomew opened #376 "Design search UX for getcarina"

[2016-03-22 15:29] ktbartholomew opened #377 "Build search UX for getcarina"

[2016-03-24 01:17] #361 closed, assigned to ktbartholomew

[2016-03-24 03:13] meker12 commented on #346
@smashwilson  In the content-repositories.json file, do you think it might be helpful to group by categories (sdk, cloud, rpc) and also alphabetize in each?

Hope you don't mind that I updated step 2 of the migration instructions to link to the content-repositories.json file.

[2016-03-24 12:19] meker12 opened #380 "Table display broken in Chrome"
_From @meker12 on March 15, 2016 14:8_

Issue submitted from DRC: https://github.com/rackerlabs/docs-rackspace/issues/30

[windows.agent.perfos table](https://developer.rackspace.com/docs/rackspace-monitoring/v1/developer-guide/#agent-windows-perfos)  displays OK in Firefox, but not in Chrome.

Firefox view:
![firefox-table-display](https://cloud.githubusercontent.com/assets/6391769/13780396/4b5ea

[2016-03-24 12:19] meker12 commented on #380
@ktbartholomew  Is this problem related to css/html cross-browser support issues?

[2016-03-24 12:19] meker12 commented on #380
This problem also visible in other docs.

[2016-03-24 13:59] smashwilson commented on #346
Alphabetizing, sure. That's a good way to avoid merge conflicts anyway. JSON objects are unordered collections anyway so we can do that now.

Grouping by categories would require changes to the parsing in the strider-deconst-control plugin and wouldn't actually add any information for the plugin to use. Maybe I could add a "comment" type that's ignored so we could do:

[code]

(Once again it sucks

[2016-03-24 16:13] meker12 commented on #346
@smashwilson

For planning purposes, do you think we can just continue adding the API doc repos as we update the contributor collateral, which has been updated to reflect the PR builder.   Or do you have a cadence for adding these builds to avoid overloading Strider.

I know that you had planned to write a script, but since we are in the repos anyway, and you made the process of adding the Strider

[2016-03-24 16:16] smashwilson commented on #346
Hold off for now - I'm currently working on deconst/deploy#107 to give us more breathing room in the staging services and on the build host. We should hold off on adding any more builds until I get that shipped to production.

Once that's in place and we're more stable, it would be awesome if you wanted to do it manually instead :smile:

Thirty repositories is well over my threshold for doing some

[2016-03-24 16:24] meker12 commented on #346
heh-- well we have 3 people, and are in the repos for other things all the time, so it's bite size changes.

So when deconst/deploy #107 ships -- is that our signal to migrate the rest of them?  Also, is there any reason not to add nexusracker to the DevDocs team.  Then, that ID would have access on all the builds.

[2016-03-24 16:25] smashwilson commented on #346
Correct. It'll be shipped a while after I merge the pull request - I'll update this issue once it's out and looking stable.

[2016-03-24 19:09] smashwilson commented on #346
@meker12: deconst/deploy#107 is now live. We're now running up to 8 simultaneous builds on on a beefier box, and 4 staging pods behind the staging load balancers. :tada:

Go ahead and start migrating builds at will! If we hit another breaking point, we'll deal with it when we get there.

[2016-03-24 23:37] meker12 commented on #346
Nice!

@smashwilson Questions about updates for builds:  Can you add more than one at a time? (I added 3. -- eek!)

After you add a product, where do you see whether the addition is successful.  I tried to view the Strider build log for nexus-control, and it says I'm not authorized.

[2016-03-24 23:43] smashwilson commented on #346
Yup. The control repo build will create content builds for any projects that are listed in the configuration file but not already in Strider.

Really? At https://build.developer.rackspace.com/rackerlabs/nexus-control/ ?

While nexus-control's ACL isn't automatically managed yet (see deconst/strider-deconst-control#21) you're definitely listed as a collaborator; I just double-checked.

[2016-03-25 13:22] smashwilson commented on #346
I just disabled the Travis builds for the three repos you added yesterday, @meker12:

[code]

[2016-03-25 14:35] meker12 commented on #346
@smashwilson  That's great.  Thanks for showing me the code :-)

[2016-03-25 14:37] smashwilson commented on #346
You can also do it through [your Travis profile](https://travis-ci.org/profile/); find the repository under "Rackspace Hosting" and flip the switch to "off". The [Travis CLI](https://github.com/travis-ci/travis.rb#readme) saves you a little scrolling, though.

[2016-03-25 14:40] meker12 commented on #346
Yeah, I had found that already :-)  I enjoy the command line these days. Faster and I don't have to figure out someone's conception of my workflow in the (many, many, different UIs).

[2016-03-25 14:45] smashwilson commented on #346
Concur completely :grin: It's also easier to throw together little scripts of bash or terrible one-off Ruby to automate things that way.

[2016-03-29 15:02] kenperkins commented on #374
Could you include throwing either a search box or search results on the 404 page in the design process?

[2016-03-29 17:03] ktbartholomew commented on #374
My plan is to make the search box part of the global navigation, so by default there would be a search box on the 404 page:

![image](https://cloud.githubusercontent.com/assets/3018940/14116588/17e6227a-f5a6-11e5-88e9-e251c454205e.png)

You're right though, the UX needs of a 404 page would warrant a much more prominent search box, front-and-center. The search component should be completely reusabl

[2016-03-29 21:34] ktbartholomew commented on #374
![search](https://cloud.githubusercontent.com/assets/3018940/14124624/172dead6-f5cc-11e5-85b1-820c1489317d.gif)

[2016-03-30 15:58] jnoller commented on #374
this is amazing

[2016-03-31 00:56] meker12 commented on #346
All done :8ball:

[2016-03-31 00:56] #346 closed, assigned to meker12

[2016-04-01 12:43] annegentle opened #392 "Top left link on Core Infra. Guide should take me to top-level guide page"
@trentgillaspie commented on [Wed Dec 23 2015](https://github.com/rackerlabs/docs-core-infra-user-guide/issues/408)

https://developer.rackspace.com/docs/user-guides/infrastructure/
When I navigate to the URL above, and browse away from the landing page. When I try to get back to the URL above by clicking on "Cloud Core Infrastructure User Guide," the link does not take me anywhere. The link shoul

[2016-04-01 12:44] annegentle commented on #392
Moved to nexus-control since the template is there.

[2016-04-01 12:56] annegentle commented on #392
When I remove the `<self>` notation to make a pure link, the javascript on the page is creating `href =` with nothing in it. Explain more about why you think `<self>` is the root cause here?

[2016-04-01 15:51] ktbartholomew commented on #392
Let's work through the scenario backwards to rule out possible culprits:

#### Proof: client-side JavaScript isn't the problem
1. Visit https://developer.rackspace.com/docs/user-guides/infrastructure/
2. View source for this page (command + option + U)
3. Find the lines corresponding to the title in the ToC. (Line 214 currently)
4. Observe that the `href` attribute for the title link is empty, mea

[2016-04-01 18:55] #392 closed, assigned to nobody

[2016-04-01 18:55] annegentle commented on #392
Issue moved to [rackerlabs/docs-core-infra-user-guide #426](https://github.com/rackerlabs/docs-core-infra-user-guide/issues/426) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-04-04 03:53] #375 closed, assigned to ktbartholomew

[2016-04-04 03:53] #374 closed, assigned to ktbartholomew

[2016-04-05 15:25] jnoller opened #393 "Facet search using the categories flag per repo?"
According to @smashwilson we can use the ES API to clean up some of the search results - eg. drc search shouldn't populate in things from carina, and vice versa. You can set categories repo-by-repo - the API is https://github.com/deconst/content-service#get-searchqtermpagenumbernumperpagesizecategoriesdeconsthorse

I think it would help just by initially excluding the getcarina results and when we

[2016-04-05 15:29] smashwilson commented on #393
A note: to set categories on an entire content repository at once, set [`deconst_categories` in the `_config.yml` file](https://github.com/deconst/preparer-jekyll#markdown-integration). (There's a similar key for Sphinx too.)

[2016-04-05 21:46] #376 closed, assigned to ktbartholomew

[2016-04-06 00:05] #377 closed, assigned to ktbartholomew

[2016-04-06 15:26] ktbartholomew opened #396 "Replace how-to search with deconst search"
Fixes https://github.com/deconst/content-service/issues/91 (sort of)

[2016-04-06 19:03] smashwilson opened #397 "docs-cloud-common build is not set up properly"
[code]

[2016-04-06 19:04] smashwilson commented on #397
Uh, @meker12, docs-cloud-common doesn't appear to exist?

[2016-04-06 19:08] meker12 commented on #397
my bad -- should be:  https://github.com/rackerlabs/docs-common
This is for the Glossary build.    --  https://github.com/rackerlabs/nexus-control/pull/398

I had a tentative plan to move the Glossary build to the docs-rackspace repo which is where the Contributor Guide and Style Guide will live.   Would this be a good time?

[2016-04-06 19:11] smashwilson commented on #397
Hmm, I'm putting out some fires right now on the build server and I noticed this as I was investigating.

[2016-04-06 19:13] meker12 commented on #397
I will open an issue about moving the repo.  Not the right time to do it until we have a better plan for our common Rackspace docs infrastructure deliverables. https://github.com/rackerlabs/docs-common/issues/45

[2016-04-06 19:14] meker12 commented on #397
so it's cool that it showed up in the logs.  Must carve out some time to view logs.  Would you or someone on your team be willing to give the InfoDev team a demo of using logs?   I think we can close this issue after the PR is merged.

[2016-04-06 19:15] #397 closed, assigned to meker12

[2016-04-06 19:18] smashwilson commented on #397
Well, deconst/strider-deconst-content#9 should make problems more visible, but really I just click the build badge and scroll around to see if anything says "hey this is broken." There isn't that much more to it than that.

[2016-04-07 21:48] carolynvs opened #399 "RackerNexus doesn't always trigger on PR pushes"
Here's an example: https://github.com/getcarina/getcarina.com/pull/804#issuecomment-206950930. Notice that there is no comment from rackernexus after `01cadec`. This time, I happened to rebase, but I've run into this once before with another commit that wasn't a rebase.

I pushed new changes to the PR, I _think_ that the build kicked off, but I never got a reply back about the preview. So when Kel

[2016-04-07 23:03] smashwilson commented on #399
Weird - I can't seem to pull up the build log for that one. It should be [57069f8e02394a0100f3544b](https://build.developer.rackspace.com/getcarina/getcarina.com/job/57069f8e02394a0100f3544b) but I'm not seeing that job in the project's history. Maybe it aged off already?

You do have a green check on that commit, so the status plugin fired... hmm.

[2016-04-08 13:44] carolynvs commented on #399
Yup! It fired a few times, and on my last commit before merging the PR, it fired. But two times in the middle, something went wrong. If it happens again I'll make sure to ping you before I merge it so that we can save the logs.

[2016-04-11 23:57] meker12 commented on #368
OK.  For contributors, we documented how to configure the GitHub links here:  https://github.com/rackerlabs/docs-rackspace/blob/master/tools/add-github-links-to-docs.rst

[2016-04-11 23:57] #368 closed, assigned to nobody

[2016-04-12 00:00] meker12 commented on #369
Another question on PR builds:

@smashwilson  Is it possible to have PR builds that always build to the same staging branch, instead of creating a new version for each PR update?

Use case:  For content in development, having a single staging URL for the content that is not tied to PRs would make it easier to provide all reviewers with the same staging URL throughout project development.

[2016-04-12 00:01] meker12 commented on #339
@ktbartholomew So I tried configuring a URL that provided info to populate an issue title. It didn't work.

No matter what URL is configured in _deconst.json, the link open to the issues page.

[2016-04-12 00:02] #338 closed, assigned to nobody

[2016-04-12 00:06] meker12 commented on #160
Spacing was improved. Still a few places where it's not perfect, but good enough.

[2016-04-12 00:06] #160 closed, assigned to nobody

[2016-04-12 00:09] meker12 commented on #240
One thing that I learned is that you don't get a preview unless the repository is mapped in the config files. @smashwilson can you confirm that that is correct.

So if you have a new project in a repo, you have to map it in the config.json file before you will get a preview.

[2016-04-12 17:46] manishtomar commented on #369
I personally think having separate builds for each commit is a good idea. This way there is direct mapping from commit to docs. One can compare different versions of the docs to see the difference. Moreover, it shouldn't be difficult to find the latest docs build as it will be the latest comment.

[2016-04-12 22:19] meker12 commented on #369
I'm suggesting to have a configurable option if people want to provide a stable URL for content in beta or development.

[2016-04-12 23:15] manishtomar commented on #369
@meker12 Aah yes. That would be very helpful. Sorry I misunderstood your query earlier :)

[2016-04-13 12:49] smashwilson commented on #369
:+1:

I've moved this issue to deconst/strider-deconst-content#22, and split out the re-used build environment idea to deconst/strider-deconst-content#21.

[2016-04-13 12:49] #369 closed, assigned to nobody

[2016-04-13 13:11] smashwilson commented on #240
Yes, that's unfortunate but correct. You _can_ cheat around it by temporarily faking the content ID base in your `_deconst.json` as something different that's mapped... but that's risky because it'll mess up production if you forget to change it back!

Something I've thought about is introducing an intermediate way to map content only for staging builds. It's a concept we could roll into the contr

[2016-04-13 18:54] meker12 commented on #240
@smashwilson This process change also means it will be challenging to submit the route change and the redirect change in same PR. Since probably want to preview the change and see it live before configuring the redirect.  Thoughts?

[2016-04-13 18:58] smashwilson commented on #240
I'm not sure that I understand the question. Can you provide some context about the route change scenario you're talking about?

[2016-04-13 19:01] smashwilson commented on #240
Also: another hole in the preview functionality is that it doesn't give you any way to preview _control repository_ changes, like redirects. That's much more challenging without some heavy presenter refactoring because most of the control repository state is loaded _globally_ within the presenter.

Keith does most of our control repository work and I believe he has a deconst/integrated setup that

[2016-04-13 21:09] meker12 commented on #240
Yeah. Noticed that hole.  I was wondering if I could preview using deconst-client.  I'm getting a new system in a few weeks, so I'll try to get it working again in a fresh environment.

[2016-04-14 13:34] smashwilson commented on #240
Hah - it turns out that there already is a way to do this. We can add a section to the content and template maps in the control repository that maps the content ID to a fake hostname:

[code]

There would be no way to see the content on production because the domain "staging.horse" (or whatever placeholder we choose) wouldn't actually resolve to Nexus, but it _would_ be visible for PR builds on ht

[2016-04-14 18:56] meker12 commented on #240
@smashwilson  so I think the multiple builds from same repo is solved now with Strider, right.  All you have to do is map all the Sphinx projects in the control repo, and Strider will build them.

If that's correct, we can close this one.

[2016-04-14 18:58] smashwilson commented on #240
Oh yes, it's been possible as long as this issue has been open. We've been doing it. And, now it's more convenient (you don't have to maintain a script).

[2016-04-14 18:58] #240 closed, assigned to nobody

[2016-04-14 20:30] meker12 commented on #380
Keith said this problem is a Chromium bug.

Not all tables have this problem.  Investigate issue. Might be because some tables have lines that extend too far past the 80 character mark.   Use monitoring docs to try formatting changes to fix the problem.  Link: https://developer.rackspace.com/docs/rackspace-monitoring/v1/developer-guide/#agent-apache-check

Source: https://github.com/rackerlabs/doc

[2016-04-14 20:32] ktbartholomew commented on #380
@meker12 the bug is more likely to do with individual words that are very long with no break characters. The browser tries to intelligently size columns based on their contents. Long words, like those used for some variables, can have adverse effects on their sizing algorithm.

[2016-04-14 20:42] meker12 commented on #351
The route for API docs has already been changed.
The route for SDK docs still shows _cloud-monitoring_

**Current route for Monitoring SDK Quickstart:**  `https://developer.rackspace.com/docs/cloud-monitoring/getting-started/`

**Nexus control configuration:** `"/docs/": "https://github.com/rackerlabs/docs-quickstart/"`

**Path to source files**  `https://github.com/rackerlabs/docs-quickstart/tree

[2016-04-14 21:42] meker12 commented on #380
Thanks. I'll experiment with adding \ to break up long words.

[2016-04-14 21:56] smashwilson commented on #351
Yes, exactly correct. :+1:

This is also a situation in which the old envelope (the one with content ID `https://github.com/rackerlabs/docs-quickstart/cloud-monitoring/getting-started`) will currently stick around even after the new envelope (content ID `https://github.com/rackerlabs/docs-quickstart/rackspace-monitoring/getting-started`) begins to be submitted instead. That means that you can move

[2016-04-14 22:36] meker12 commented on #351
Thanks for sequence of steps.  Also, "envelope" was the term I was searching for in the meeting earlier today.

[2016-04-14 23:07] smashwilson commented on #351
:bow: This update brought to you by Daniel Tiger and a pot of rice on the stovetop :rice:

Ah, okay, that makes sense. By the way, we do have [a Deconst glossary](https://deconst.horse/developing/terminology/) that we used to agree on terminology way back when the project started. (Naming things is hard.) Although of course, now that I'm linking you there, I'm noticing all the future tense and som

[2016-04-15 19:39] meker12 opened #408 "Way to preview RPC v12 content"
@smashwilson

If the RPC team wants to have staging preview for the v12 docs without deploying to production, are these the right updates to make:
1.  In [content-repositories.json](https://github.com/rackerlabs/nexus-control/blob/master/content-repositories.json), add v12 branch to the rpc specification.

    `{ "kind": "github", "project": "rackerlabs/docs-rpc", "branches": ["v10", "v11", "v12"]

[2016-04-15 19:47] smashwilson commented on #408
That's the gist, but there are a few more steps:
1. Delete the Strider build and allow the nexus-control build to recreate it with the new branch configuration.
2. Copy all of the templates in this repo from [`templates/developer.rackspace.com/`](https://github.com/rackerlabs/nexus-control/tree/master/templates/developer.rackspace.com) to a new directory called `templates/staging.horse`. (This is

[2016-04-16 01:04] meker12 opened #411 "Delete docs/cloud-monitoring/getting-started content envelope"
Updated the path to the Monitoring SDK Quickstart with new product name.  (PR #351)

Content now displays at this url:  https://developer.rackspace.com/docs/rackspace-monitoring/getting-started

No longer need the content envelope at this path.
https://developer.rackspace.com/docs/cloud-monitoring/getting-started

[2016-04-18 13:22] smashwilson commented on #411
The envelope's been deleted through the content store API:

[code]

The envelope query returns a 404 from [the content store API](https://developer.rackspace.com:9000/content/https%3A%2F%2Fgithub.com%2Frackerlabs%2Fdocs-quickstart%2Fcloud-monitoring%2Fgetting-started).

The redirect is now working correctly:

[code]

And, the old envelope is now omitted from search results:

_Before_

![before](ht

[2016-04-18 13:22] #411 closed, assigned to smashwilson

[2016-04-18 15:37] meker12 commented on #408
@smashwilson   "Delete the Strider build"

So how do I delete the Strider build job?   Go to the github repo and remove the Strider webhook?

[2016-04-18 15:56] smashwilson commented on #408
Ah - I think you actually do need admin for that. Already taken care of it and the v12 build is there.

[2016-04-18 16:08] smashwilson commented on #408
Oh, right, the template patterns are still missing; I bet it's using the wrong templates to render the preview.

[2016-04-18 16:38] meker12 commented on #408
so I copied the drc template patterns in templates/staging.horse

and updated routes.d to add a staging.deconst.horse-- oh should it be staging.deconst.horse?

{
    "staging.horse": {
        "routes": {
            "^/docs/private-cloud": "user-guide.html",
            "^/docs/managed-vmware-services": "user-guide.html"
        }
    }
}

[2016-04-18 17:16] meker12 commented on #408
Perhaps we need assets in addition to templates for staging.horse?  https://github.com/rackerlabs/nexus-control/tree/master/assets

[2016-04-18 18:21] smashwilson commented on #408
[It's aliiiive!](https://staging.developer.rackspace.com/staging.horse/build-173bd42694/docs/private-cloud/rpc/v12/)

I've edited in the steps that I forgot about into my comment up above for reference. Adding additional previews should be easier, now, too, because we've already copied the templates and plugins over; all you'd need to do is edit the content and template maps to preview more develo

[2016-04-18 19:31] meker12 commented on #408
Two issues:

**Issue 1:  [docs-rpc repo](https://github.com/rackerlabs/docs-rpc)**

Karen submitted a [new PR](https://github.com/rackerlabs/docs-rpc/pull/314) on the master branch, and it says no deconst configuration.

**Issue 2:  [docs-dedicated-vcloud repo](https://github.com/rackerlabs/docs-dedicated-vcloud)**

I submitted a [PR](https://github.com/rackerlabs/docs-dedicated-vcloud/pull/44) th

[2016-04-18 19:36] smashwilson commented on #408
That's because her PR was submitted to the master branch, which has a [contentIDBase of `https://github.com/rackerlabs/docs-rpc/master`](https://github.com/rackerlabs/docs-rpc/blob/master/doc/_deconst.json#L2) which isn't mapped anywhere.

I'm checking out the Strider logs to see what happened.

[2016-04-18 19:37] smashwilson commented on #408
Oh, and clicking the manual retest or redeploy buttons won't do what you want it to: they kick off new builds _on master_, not the PR builds.

[2016-04-18 19:41] smashwilson commented on #408
Hmm, weird, the Strider build hadn't created webhooks properly for that repository. I gave it a prod to do so. Can you try pushing another commit to that branch?

[2016-04-18 19:42] meker12 commented on #408
ah OK... so once you specify branches, then there is no default for master --   I'm not sure if it's important to the team to build master.  If so, they would just add master to the list of branches in [content.repositories](https://github.com/rackerlabs/nexus-control/blob/master/content-repositories.json), right?

You used to get a preview on master.

[2016-04-18 19:51] meker12 commented on #408
It worked:  https://github.com/rackerlabs/docs-dedicated-vcloud/pull/44  :8ball:

[2016-04-18 19:53] smashwilson commented on #408
There are a few things missing:
- The _exact content ID_ needs to be mapped somewhere in [nexus-control's content map](https://github.com/rackerlabs/nexus-control/blob/master/config/content.d/staging.horse.json#L4). Content IDs have no knowledge of Git (or GitHub, or anything else for that matter), so there is no default behavior for "master" or any other magic string. As far as Deconst is concern

[2016-04-18 22:02] meker12 commented on #408
rackerlabs/docs-dedicated-vcloud#44  does create 3 preview links.

Each project only contains the content for one handbook.
However, the navigation in all the projects still contains the navigation for all 3 books.

I thought that the staging URL would use the newly mapped _managed-vmware-services_ route, but the content is still mapped to the `private-cloud/dedicated-vcloud` URL.
- [`doc/vcloud-h

[2016-04-19 12:27] smashwilson commented on #408
Oh, I see what's going on. This is a consequence of content IDs being mapped by prefix. Because the new content IDs begin with the exact old content ID, the mapping algorithm gets confused and interprets the builder's queries as asking about an envelope that's mapped beneath the developer.rackspace.com path before it has a chance to notice the staging.horse one that also matches.

`https://github.

[2016-04-19 20:27] meker12 commented on #408
@smashwilson I might update the contentID, or not.  Will ask Blyth how comfortable he is with the preview and merging to production.  The problem will go away when we merge to production at the new route.

[2016-04-28 15:19] meker12 opened #427 "Provide way to watermark documents"
Feature request:

We publish EA documents, and we also continue hosting documentation for deprecated projects until the projects reach EOL.   In DocBook, we could add headers to reflect docs status.  Currently, we don't have a way to configure these headers in the nexus-control templates.

**Requirement:**   Add capability to configure a watermark or some type of indicator to mark Early access and

[2016-04-28 15:29] ktbartholomew commented on #427
@meker12 this would be easy to style if we have a field in the content envelope that indicates a document's watermark status. When documents are EA or deprecated, could some metadata be set to indicate that? This would probably be done in that repo's `_deconst.json` file.

[2016-04-28 19:55] meker12 commented on #32
Duplicate of #427.

[2016-05-02 18:34] meker12 commented on #427
This requirement has several parts:
- [ ] Add `doc-status metadata` to the [Sphinx preparer](https://github.com/deconst/preparer-sphinx/search?utf8=%E2%9C%93&q=github_url). (@
- [ ] Style the watermark or status indicator in the docs-singlepage and user-guide templates and any other templates where it might be useful. (@kbartholomew)
- [ ] Test the configuration and style updates.  (Tools team)
-

[2016-05-02 18:34] #427 closed, assigned to nobody

[2016-05-02 18:44] smashwilson commented on #427
I'm guessing that "watermark status" is something that can be passed through the `meta` key within `_deconst.json` files, correct? We shouldn't need any preparer or infrastructure changes to make this work.

[2016-05-02 19:05] meker12 commented on #427
I was just going off the work that you did when the metadata was added for the edit on github URLs.  It looked like you had to add something to conf.py, and the builders source in the Sphinx preparer.  But that might be wrong.   Maybe because it's just turning a style on and off it might not need any updates.

[2016-05-02 19:11] smashwilson commented on #427
The attributes that support the "Edit on GitHub" links need a bit of git integration during content preparation to be generated correctly, while these would be much simpler toggles, I think.
:+1:

Feel free to edit the requirement list above as needed.  I just wanted to put something together so we can get the feature added. Maybe this is one for @ktbartholomew .

@smashwilson   So you are suggest

[2016-05-04 14:44] smashwilson commented on #211
Moving envelope storage to MongoDB seems to have smoothed this out:

[code]

[2016-05-04 14:44] #211 closed, assigned to nobody

[2016-05-04 14:49] smashwilson opened #430 "Visually distinguish staged content"
Now that deconst/presenter#117 is merged, the templates can conditionally render markup to only appear in staging mode:

[code]

To avoid confusion, we should include some visual indication in the site templates that the page you're browsing is only staged. Maybe a `<title>` prefix, a different favicon, and/or a page watermark?

[2016-05-04 15:06] ktbartholomew commented on #430
A title prefix would be a simple way to differentiate content without adding anything else, and without interfering with the visual output.

Adding a class to the body would allow more elaborate watermarks, but would require CSS and/or Javascript in the production assets to make it look right. That is, unless the watermark was a 100% self-packaged set of markup and CSS!

[2016-05-06 14:29] meker12 opened #431 "Add Github link styling to Rack CLI template"
Added the Github link metadata to the Rack CLI manual, but link doesn't show up. I think that's because the "rack-cli.html" template doesn't support it.

[2016-05-11 14:40] #431 closed, assigned to ktbartholomew

[2016-05-16 18:04] meker12 commented on #430
@smashwilson Just want to make sure that we understand this feature:  This is what I think it might be:

If I submit a PR, then the PR builder creates a staging version of the content and deploys to the staging url.

Currrently, the preview content looks the same so it's hard to tell where the update is.

With your change, the staging view would have some type of visual indicator highlighting the

[2016-05-16 18:18] smashwilson commented on #430
@meker12: Nothing that complicated, I'm afraid. This only supports some kind of "you're looking at staging" watermark or banner or something on the entire page to tell you that you're not on the live site. It's mostly a safeguard from, say, pasting a staging link to Twitter by mistake, especially if you have a lot of browser tabs open at the time.

[2016-05-16 18:30] meker12 opened #438 "PR preview build on docs-rpc master branch not working"
@smashwilson  At one point, we had the PR builder preview build working on the master branch for the docs-rpc repo. We changed to have the master branch build on staging.deconst.horse.  It doesn't seem to be working now.

I thought it might be because the content-repositories.json branch is missing "master". I updated that file to add it (inadvertently committed directly to master).   I can back t

[2016-05-16 18:39] smashwilson commented on #438
No, that was the correct thing to do. I think Strider's PR builder uses the configuration of the branch that the PR is targeting, so without "master" being in the list of live branches, PRs to master would stop being built.

As long as the content ID from the master branch isn't mapped to a production domain anywhere, this should be fine :+1:

Ah, that's a bug in the build plugin itself. I fixed o

[2016-05-16 18:58] meker12 commented on #438
@smashwilson.  Thanks for the reply.   Since I added a new branch, then the build has to be deleted and then recreated, right? Based on what I remember, you have to do that.  Is there anyway that I can get access to be able to delete the build in Strider. In the interest of not having to bug you when we want to add new branches.

[2016-05-16 19:03] smashwilson commented on #438
I actually fixed it so that you don't have to do that any more, because it was so awkward 😀  Changes to "live" branches now take effect on the next nexus-control build, just like new repos.

I also triggered a successful preview link on rackerlabs/docs-rpc#346, so I'm not sure what's going on with the stuck build for rackerlabs/docs-rpc#345. I did notice that rackerlabs/docs-rpc#345 doesn't change

[2016-05-16 19:26] meker12 commented on #438
That's great @smashwilson  🎱 . Thanks for the help.

[2016-05-16 19:26] #438 closed, assigned to smashwilson

[2016-05-17 20:27] #351 closed, assigned to meker12

[2016-05-17 21:30] meker12 commented on #172
A customer reported the same issue on in 05/15/16:  https://github.com/rackerlabs/docs-cloud-files/issues/67

[2016-05-19 03:26] meker12 opened #450 "Fix config.json for vmware docs"
Currently, the  [config.json](https://github.com/rackerlabs/nexus-control/blob/master/config/content.d/developer.rackspace.com.json).  has the following specification for vmware docs:

[code]

The first line is the original mapping for the content which delivered all vmware documentation in one Sphinx project.  This line specifies the URI for the content currently committed to the master branch of

[2016-05-23 22:20] ktbartholomew opened #452 "Convert Cloud Images doc to the multi-page format"

[2016-05-25 14:07] #452 closed, assigned to ktbartholomew

[2016-05-25 19:15] ktbartholomew opened #457 "getting-started -> quickstart redirect is too aggressive"
A redirect that we're using to help rename the quickstarts is catching _any_ URLs containing "getting-started" and changing them. Naturally, this is breaking some pages by doing unnecessary redirects.

[2016-05-25 19:22] ktbartholomew opened #458 "Update ToC active state as user scrolls"
On longer pages with multiple anchor headings, the ToC should visually reflect which section the reader currently has in view. I already wrote https://github.com/rackerlabs/nexus-control/blob/master/assets/src/js/components/scroll-indicator.js to do this, so it can probably be repurposed with minor tweaks.

[2016-05-26 03:39] #458 closed, assigned to ktbartholomew

[2016-05-31 16:27] ReneeRendon opened #473 "All Articles product page is not working properly"
The All Articles product pages are suddenly ordering by the permalink instead of the title which causes the displayed links to be out of alphabetical order. This makes searching for articles more difficult and it looks unprofessional. We noticed the change on Wed. May 25.

This issue may be related to issue #474

Example of one of the All Articles pages is here https://support.rackspace.com/how-to

[2016-05-31 16:29] ReneeRendon opened #474 "The All Articles page is not displaying any results for Auto Scale"
The All Articles page is not displaying any results for Auto Scale. https://support.rackspace.com/how-to/rackspace-auto-scale-all-articles/

This may be related to issue #473 .

@ktbartholomew  @smashwilson

[2016-05-31 16:29] ReneeRendon commented on #473
This issue may be related to issue #474 .

[2016-06-01 12:10] smashwilson opened #475 "500s for a specific article"
I'm seeing 500s in the logs for this specific URL:

https://support.rackspace.com/how-to/como-modifico-meus-arquivos-de-hosts/

[2016-06-01 16:28] smashwilson commented on #475
This might have been a problem with the redirect configuration, because it's working now. I'll watch Kibana to see if it appears again and close this if it doesn't.

[2016-06-01 17:35] meker12 commented on #475
@smashwilson There was a build error related to this article that was recently [fixed].  (https://github.com/rackerlabs/rackspace-how-to/commit/1d8243a2ffcb3fc627e35319d081566bd86c7a66).

[code]

[2016-06-01 18:17] smashwilson commented on #475
Huh. I'm still not certain how that would cause a 500, especially one that wouldn't leave a stack trace in the logs.

It seems to be gone, now, so, hooray?

[2016-06-01 18:17] #475 closed, assigned to nobody

[2016-06-01 19:38] smashwilson opened #477 "Update README to describe deconst/integrated preview"
Describe the way to set up deconst/integrated locally to preview control repository changes locally.

[2016-06-02 00:43] meker12 commented on #450
Fixed by [PR #480](https://github.com/rackerlabs/nexus-control/pull/480)

[2016-06-02 00:43] #450 closed, assigned to meker12

[2016-06-02 03:30] meker12 commented on #408
We have staging.horse for configuring content in development. 🍰  Documentation for configuration process is in the [docs-rackspace contributor documentation](https://github.com/rackerlabs/docs-rackspace/blob/master/doc/tools/publishing.rst).  Closing this issue.

[2016-06-02 03:30] #408 closed, assigned to meker12

[2016-06-02 17:29] meker12 commented on #237
@ktbartholomew Added collapsible navigation. 🎆

[2016-06-02 17:29] #237 closed, assigned to ktbartholomew

[2016-06-03 15:00] ktbartholomew opened #489 "Rackspace monitoring redirect results in 404"
The redirect at https://github.com/rackerlabs/nexus-control/blob/master/config/rewrites.d/developer.rackspace.com.json#L81 directs the user to a URL like `/docs/%23rackspace-monitoring`, which does not exist. It seems that there is a working monitoring doc at https://developer.rackspace.com/docs/rackspace-monitoring/v1/developer-guide/

[2016-06-03 15:41] cyrichardson commented on #489
@ktbartholomew Margaret is OOO today and I've never done a redirect. If I change /docs/%23rackspace-monitoring, to /docs/rackspace-monitoring
will that fix the problem?
Thanks!

[2016-06-03 15:53] ktbartholomew commented on #489
I think the correct redirect would be to either `/docs/rackspace-monitoring/quickstart/` or  `/docs/rackspace-monitoring/v1/developer-guide/`. The quickstart is pretty sparse so I'd recommend the latter. I can make the change if you're not comfortable doing it, I just don't know what the desired place to send people would be (aside from the current, broken location).

[2016-06-03 15:59] cyrichardson commented on #489
@ktbartholomew I'll be glad to make it. I will use the 2nd option above. Will make the change shortly. Thank you!

[2016-06-03 16:26] cyrichardson commented on #489
@ktbartholomew Would you please review and merge #490? Thank you.

[2016-06-03 17:33] ktbartholomew commented on #489
Closed by #490.

[2016-06-08 18:56] meker12 commented on #489
@ktbartholomew     Just a note:  I had updated the Monitoring redirect rule  to go to the Monitoring doc menu on the docs landing page.  When I go to this link that's where it take s me: https://developer.rackspace.com/docs/#rackspace-monitoring,

Did that redirect rule not work in practice because of the # tag?

[2016-06-08 19:07] #489 closed, assigned to cyrichardson

[2016-06-08 19:08] meker12 opened #491 "Redirect rules with # don't work"
@ktbartholomew     Just a note regarding issue #489.

I had updated the Monitoring redirect rule  to go to the Monitoring doc menu on the docs landing page.  When I go to this link that's where it take s me: https://developer.rackspace.com/docs/#rackspace-monitoring,

_Also, I should have added the # redirect rule under the rackspace-monitoring developer guide one. Sorry that I broke that redirect

[2016-06-08 19:25] #491 closed, assigned to nobody

[2016-06-09 18:17] meker12 opened #492 "vCloud 1.5 doc annoying URL bug"
For the vcenter and vcloud 1 docs, a person can type the following URLs:

https://developer.rackspace.com/docs/managed-vmware-services/vcenter   (no slash)
https://developer.rackspace.com/docs/managed-vmware-services/vcloud/v1 (no slash)

The URLs resolve and redirect the user to the URL with the ending slash.

For vcloud 1.5, submitting the URL without the slash returns a 404:

https://developer.

[2016-06-09 18:21] meker12 opened #493 "vCloud 1.5 doc annoying URL bug"
For the vcenter and vcloud 1 docs, a person can type the following URLs:

https://developer.rackspace.com/docs/managed-vmware-services/vcenter   (no slash)
https://developer.rackspace.com/docs/managed-vmware-services/vcloud/v1 (no slash)

The URLs resolve and redirect the user to the URL with the ending slash.

For vcloud 1.5, when the URL without the slash returns a 404:

https://developer.racksp

[2016-06-10 19:25] meker12 commented on #492
duplicate of #493

[2016-06-10 19:25] #492 closed, assigned to nobody

[2016-06-14 13:57] meker12 opened #498 "Location of Submit an Issue link"
_From @kallimachos on June 13, 2016 2:25_

The **Submit an issue** link can scroll out of view from the left hand nav when the content being viewed is short.

For example, scroll the nav down on: [Delete user](https://developer.rackspace.com/docs/private-cloud/rpc/v12/rpc-admin/projects-delete-user-dashboard/). This isn't a major issue, but I expected the issue link would always be visible. For th

[2016-06-14 13:57] meker12 commented on #498
@kallimachos  During the initial UI design, I had requested that the link be available as a link on the top-right of the content page as it is in the OpenStack doc UI and also the UI for many other documentation libraries.

This placement makes most sense when we use the Edit on github link because that link opens the source file to edit the content currently displayed.

For the "Submit an issue"

[2016-06-14 13:57] meker12 commented on #498
_From @kallimachos on June 14, 2016 0:47_

Cool. Thanks @meker12

[2016-06-16 16:39] meker12 opened #502 "Deploy Rackspace PaaS content to developer.rackspace.com"
Rackspace PaaS content is currently deploying to staging.horse.com.  When the team is ready, update the nexus config and routes to deploy to developer.rackspace.com. @devdattakulkarni

[2016-06-16 16:52] devdattakulkarni commented on #502
+1

[2016-06-16 22:10] meker12 opened #504 "Web hook payloads failing with 500"
https://github.com/rackerlabs/nexus-control/settings/hooks/7379405

@smashwilson

[2016-06-17 01:19] meker12 commented on #504
Not sure if this is related to the issue, but we changed the name of the docs-cloud-arbor repo to docs-cloud-paas.

After I changed the repo name, I updated the nexus-control content.repositories, deconst.horse.com config and routes files.

Then, I updated the contentID to match the new repo name, and checked in that PR.  Then, I checked in that PR.  The job ran successfully for that update, but t

[2016-06-17 12:18] smashwilson commented on #504
Well that's not good! Thanks for the heads-up, I'll have a look.

Personally, I think it has more to do with this:

![screen shot 2016-06-17 at 8 17 36 am](https://cloud.githubusercontent.com/assets/17565/16150248/fbef7664-3463-11e6-8ba5-0c28081ec019.jpeg)

Looks like we filled up a disk on the build server. I'll clean that out this morning and see if that improves things.

/cc @kallimachos

[2016-06-17 12:42] smashwilson commented on #504
The space is being taken up by the Strider workspace volume - the directories where Strider stores its git clone and build output from each build. Strider only stores the most recent build for each repository and branch, but in the case of rackerlabs/rackspace-how-to, (a) there's a directory for every branch ever created since they're created in the rackerlabs/ fork, and (b) each directory there i

[2016-06-17 12:56] smashwilson commented on #504
We now have:
- A successful webhook delivery from GitHub; ![screen shot 2016-06-17 at 8 44 50 am](https://cloud.githubusercontent.com/assets/17565/16151015/9d8aaf1c-3468-11e6-94d0-4037158d2af9.jpeg)
- A [green build in Strider for nexus-control](https://build.developer.rackspace.com/rackerlabs/nexus-control/job/5763f0b1c97e920100795303);
- And a successful load of the latest state of nexus-control

[2016-06-17 12:58] #504 closed, assigned to nobody

[2016-06-17 16:30] meker12 commented on #504
👍

[2016-06-20 07:29] kallimachos commented on #504
Thanks @smashwilson!

[2016-06-23 00:55] meker12 opened #508 "SDK Quick Start links in left navigation not working"
_From @meker12 on June 22, 2016 14:47_

From jperrit in [docs-quickstart PR #81](https://github.com/rackerlabs/docs-quickstart/pull/81):

The content is ready to merge. I did notice, however, that the Quickstart Guides links in the left-side pane in staging aren't working.

_Copied from original issue: rackerlabs/docs-quickstart#98_

[2016-06-24 23:35] meker12 opened #513 "Edit on github link returns 404 in some cases"
Looks like the 404 happens if the Sphinx project isn't directly off the root directory.

**Example**

[Cloud Load Balancers v1](https://developer.rackspace.com/docs/cloud-load-balancers/v1/) returns the following incorrect "Edit on Github link"

[https://github.com/rackerlabs/docs-cloud-load-balancers/edit/master/index.rst](https://github.com/rackerlabs/docs-cloud-load-balancers/edit/master/index.

[2016-06-24 23:37] #457 closed, assigned to ktbartholomew

[2016-06-26 10:21] meker12 commented on #508
Fixed by #509.

[2016-06-28 00:51] #508 closed, assigned to meker12

[2016-06-29 15:46] stephamon opened #517 "Add contents in article sidebar for support.rackspace.com"
Steve's team had started working on pulling a contents section from h3 and h4 headers that would display in the article sidebar. This would accommodate our preference for having a contents section for the longer articles. Currently, HTML and Markdown anchor links do not work on support.rackspace.com.

You can see where the Contents section would go here, but it's currently commented out: https://g

[2016-07-08 17:47] ReneeRendon opened #520 "Remove KC banner on support landing page"
The banner on the support landing page has been there for almost 6 months. It is time to remove it.

For clarity about the correct thing to remove, it states that we’ve “improved our Knowledge Center” and are "now calling it ‘How-To’”.

[2016-07-14 20:02] ReneeRendon commented on #474
@nate fixed this issue

[2016-07-14 20:02] #474 closed, assigned to nobody

[2016-07-19 23:21] meker12 opened #524 "Update conf.py to remove Sphinx link header styling"
_From @meker12 on June 29, 2016 13:31_

When you use the local contents directive in a section, the Sphinx build applies underline
and bold styling to linked headers that overrides the deconst templates.

<img width="949" alt="duplicate-format" src="https://cloud.githubusercontent.com/assets/6391769/16453581/f1195bc4-3dd2-11e6-8690-687cdbada6a4.png">

To fix the issue, comment out the add permalin

[2016-07-19 23:21] meker12 commented on #524
This fix didn't work. Need to update the Rackspace CSS so that the local toc links don't add the blue formatting.

[2016-07-26 22:23] meker12 commented on #524
@ktbartholomew  This seems like it wouldn't be too hard to fix.  Thoughts?

[2016-08-08 19:59] meker12 opened #537 "Refactor API Guide: Publish and deploy updates"
## Update the content URL for refactored API documentation
- [x ] Fork and clone the  [nexus-control](https://github.com/rackerlabs/nexus-control) to your local system.
- [x ] Remove `developer-guide` from the route configured for the content.
  - [x ] Update the [nexus-control configuration file](https://github.com/rackerlabs/nexus-control/blob/master/config/content.d/developer.rackspace.com.json

[2016-08-08 20:02] meker12 commented on #537
Publish updates merged in [nexus-control PR #536](https://github.com/rackerlabs/nexus-control/pull/536)
Landing page updates merged in [docs-quickstart PR #109](https://github.com/rackerlabs/docs-quickstart/pull/109)

[2016-08-08 20:04] meker12 commented on #537
Moved to docs-cloud-orchestration repo: https://github.com/rackerlabs/docs-cloud-orchestration/issues/59

[2016-08-08 20:04] #537 closed, assigned to nobody

[2016-08-12 04:59] trentgillaspie opened #541 "404 Broken Link - Shared IP Resource"
On https://developer.rackspace.com/docs/user-guides/orchestration/shared-ip/ , first link to http://docs-beta.rackspace.com/drafts/catlook/webhelp/cn-gettingstarted-external/content/share_ip.html results in a 404 Not Found.

Where should it be pointing? Something like http://docs-beta.rackspace.com/drafts/catlook/webhelp/old-cn-devguide-external/content/api_ext_sharedip_neutron.html ?

Thanks!

[2016-08-16 23:43] meker12 commented on #541
This issue was moved to rackerlabs/rs-heat-docs#42

[2016-08-16 23:43] #541 closed, assigned to nobody

[2016-08-17 17:13] meker12 opened #547 "Templates on PR builder instance"
Deconst question— it seems like the templates used for the staging versions of API docs don’t match the templates used in production. Specifically, the collapsible navigation seems to behave differently.  Is that a possiblity?

If so, Is it something that can be fixed in nexus-control?

[2016-08-17 17:55] smashwilson commented on #547
You can verify which git commit from the control repository (which includes the templates) is loaded in any presenter endpoint by visiting `/version`. [This is the endpoint for production](https://developer.rackspace.com/version/) and [here's the one for staging](https://staging.developer.rackspace.com/version/). Right now, they both match 3f213f5ed7d21588e3b75d9fe87a5c0234d74dad.

It is possible

[2016-08-17 19:45] meker12 commented on #547
Thanks for the follow up and helpful links @smashwilson.

[2016-08-18 15:14] meker12 opened #549 "Configure redirect for feedback link"
Update routes.d to redirect User voice feedback link to Rackspace Community link:

Old URL:  https://feedback.rackspace.com/

New URL: https://community.rackspace.com/feedback/f/68

Outstanding question:

In the API docs, the feedback link went to the high-level place to provide feedback.

The new link goes to a How-to and API specific channel.

All of the API docs have a "Submit an issue" link, a

[2016-08-18 15:20] stephamon commented on #549
The only concern with directing feedback links to GitHub issues is if the problem someone is having is not docs related. Having a community link would catch the people who need support help.

[2016-08-18 16:01] klevenstein commented on #549
There could also be an issue with any repos that are set to private, as far as directing feedback links to GH issues goes.

Is there any method/plan in place to keep an eye on that community forum? Who gets notified when a new post goes up there?

[2016-08-18 16:11] stephamon commented on #549
@klevenstein how-to usually hears from Stuart Bankey or Alan Bush if they get something related to an article that needs fixing/updating, so we may be able to have them contact the larger docs group if they see API doc related feedback

[2016-08-23 01:26] darrenchan opened #555 "Build jobs are failing for rcbops/rpc-openstack in Strider"
Hi @smashwilson,

In rcbops/rpc-openstack master branch, I noticed @rackernexus is not displaying a build preview for Reno generated release notes in PRs. When I look in https://build.developer.rackspace.com/, build jobs are failing. Any thoughts on how to resolve this?

FYI @robb-romans @erikmwilson @klevenstein @meker12 @asettle @kallimachos

[2016-08-23 06:35] darrenchan commented on #555
Could the issue possibly be  https://github.com/rcbops/rpc-openstack/blob/master/releasenotes/source/unreleased.rst doesn't reference the branch? See https://github.com/openstack/openstack-ansible/blame/stable/mitaka/releasenotes/source/mitaka.rst

[2016-08-23 12:25] smashwilson commented on #555
The error message is:

[code]

The issue with your build is that the `_deconst.json` file (and `deconst-requirements.txt`) aren't in the Sphinx root directory (the one with your conf.py file; it looks like it should be [`releasenotes/source`](https://github.com/rcbops/rpc-openstack/tree/master/releasenotes/source)).

[2016-08-23 22:55] darrenchan commented on #555
Thanks @smashwilson. I'll fix it.

[2016-08-24 15:43] meker12 commented on #549
So for private repos, the **Submit an issue** link directs people to the docs-rackspace repo to open an issue. We've had several issues come through that path. Typically, I'll use the [github issue mover](https://github-issue-mover.appspot.com/) to move the issue to the correct repo. If the issue requires folllow up, then you can leave the issue in docs-rackspace and link it to an issue created wh

[2016-08-24 15:45] meker12 commented on #549
So am thinking that it would be OK to redirect the general feedback link to the default feedback URL rather than to the doc-specific URL.

https://community.rackspace.com/feedback/default

Thoughts?

[2016-08-24 15:52] klevenstein commented on #549
As long as there's some reliable way to ensure that the feedback gets communicated to us, I think it should be okay?

[2016-08-24 15:53] cyrichardson commented on #549
Would be consistent across docs that way for common docs, although I know that other things in that file, like link to FAQ, must be customized for each service.

[2016-08-25 01:02] meker12 opened #558 "Deployed content not reflecting most current nexus-control updates"
I noticed that the redirects that I configured to correct common auth links were not working.

When I check the current version info for the DRC site, it doesn't seem to reflecting the latest commits from the control repository:

[code]

That is from a [commit 6 days ago](https://github.com/rackerlabs/nexus-control/commit/7bcd9e08d4f0705c9144a8155d9e02ab428ddb07).

@smashwilson Can you help us get

[2016-08-25 19:27] meker12 commented on #558
Never mind I was not looking at the right values.

[2016-08-25 19:27] #558 closed, assigned to nobody

[2016-08-29 01:54] darrenchan commented on #555
@smashwilson build jobs are now working for https://github.com/rcbops/rpc-openstack/pull/1351 , but no rackernexus preview. I've already added contentID base in config/content.d/staging.horse.json, and template mapping to config/routes.d/staging.horse.json . Any thoughts?

[2016-08-29 05:26] meker12 opened #566 "Add mitaka v13 release notes to production build"
Add Mitaka v13 release notes to production builds:
1. To create the Strider production build, add the `mitaka-v13` branch to  [content.repositories.json](https://github.com/rackerlabs/nexus-control/blob/master/content-repositories.json).
2. Update  [config.d](https://github.com/rackerlabs/nexus-control/blob/master/config/content.d/developer.rackspace.com.json) for developer.racksapce.com to specif

[2016-08-29 18:16] narcher7 opened #568 "ctrl+F bug in refactored API docs"
Aaron Mehar has reported that the "ctrl+f" search does not work for API docs. This issue seems to affect Window's users. I've asked Aaron to note what browser he is using, but he has yet to respond. Will update if and when I get an answer.

[2016-08-30 01:08] darrenchan commented on #566
Thanks @meker12. I also need to submit a PR to https://github.com/rackerlabs/docs-quickstart/ to create a v13 product on the developer.rackspace.com landing page.  👍

[2016-08-31 13:18] meker12 commented on #568
@DonNateR Can you provide more information about what problem Aaron is having?

[2016-08-31 16:01] narcher7 commented on #568
@meker12: Unfortunately, he has not responded to my last email. I'll let you know if I can dig up any more information.

[2016-08-31 20:54] #555 closed, assigned to nobody

[2016-09-01 00:15] meker12 commented on #549
So.... we can't configure a redirect on the nexus-control site because we don't host the domain feedback.rackspace.com domain (duh!).  (See #570.)

Sent an email to Stuart Bankey asking him if their team can either configure a redirect or request a DNS change for that domain.  In the meantime, the How-To and API doc writers are updating the links to point to the new location.

[2016-09-01 00:15] #549 closed, assigned to meker12

[2016-09-08 20:01] meker12 opened #586 "Redirect rule for api.rackspace.com root traffic"
Think the rule for redirecting traffic for api.rackspace.com might need to be updated.

When I run the command for docs.rackspace.com:

`curl -i -H 'Host: docs.rackspace.com' https://developer.rackspace.com`

**Response**

HTTP/1.1 302 Found
Server: nginx/1.8.1
Date: Thu, 08 Sep 2016 19:56:57 GMT
Content-Type: text/plain; charset=utf-8
Content-Length: 59
Connection: keep-alive
X-Powered-By: Expres

[2016-09-08 20:06] #586 closed, assigned to meker12

[2016-09-28 12:38] meker12 commented on #566
@darrenchan  Can this be closed?

[2016-09-28 12:42] meker12 commented on #568
Not enough information. Closing.

[2016-09-28 12:42] #568 closed, assigned to nobody

[2016-09-28 12:46] meker12 commented on #566
Done: https://developer.rackspace.com/docs/#docs-private-cloud

[2016-09-28 12:46] #566 closed, assigned to meker12, darrenchan

[2016-10-18 01:44] meker12 commented on #524
This issue was moved to rackerlabs/docs-workstream#149

[2016-10-18 01:44] #524 closed, assigned to ktbartholomew

[2016-10-18 01:48] #547 closed, assigned to nobody

[2016-10-18 01:48] #502 closed, assigned to meker12

[2016-10-18 01:53] meker12 commented on #524
This issue was moved to rackerlabs/docs-workstream#150

[2016-10-27 17:05] meker12 opened #611 "Remove obsolete RackConnect API guide content from production"

[2016-11-30 19:40] ReneeRendon opened #635 "Redirects in REACH"
These 5 links that are in REACH need to be redirected. We have a JIRA ticket for this issue if you need more context. (REACH-302)

The "More on syntax" link is 404
cloudkick/webapp/site_media/js/ck/monitoring/widgets/popovers/advanced_http_body_match_option.js
links to:
https://docs.rackspace.com/cm/api/v1.0/cm-devguide/content/service-check-types.html?&_ga=1.174195810.1745099658.1448290304#sectio

[2016-12-01 19:19] catlook commented on #635
https://docs.rackspace.com/cm/api/v1.0/cm-devguide/content/service-check-types.html?&_ga=1.174195810.1745099658.1448290304#section-check-types-remote.http
SHOULD BE
https://developer.rackspace.com/docs/rackspace-monitoring/v1/api-reference/check-type-operations/#check-types

https://docs.rackspace.com/cm/api/v1.0/cm-devguide/content/Concepts.html
SHOULD BE
https://developer.rackspace.com/docs/rack

[2016-12-01 20:29] catlook commented on #635
PR https://github.com/rackerlabs/nexus-control/pull/636

[2016-12-22 15:31] catlook commented on #635
Opps...forgot to close this one.

[2016-12-22 15:31] #635 closed, assigned to catlook

[2017-01-04 20:28] nimbinatus commented on #520
Working on this one. See the rackerlabs/rackspace-how-to#1425

[2017-01-12 14:45] nimbinatus commented on #520
Changes posted. Please clear your cache if you still see it.

[2017-01-12 14:45] #520 closed, assigned to nimbinatus, ReneeRendon, stephamon

[2017-01-23 23:29] meker12 commented on #473
@nimbinatus @ReneeRendon  Learned something while helping Cat with the whitepaper repo.

Sorting problem is because the articles are sorted by filename, not by article title:

The *all articles* page is generated from the rackspace-how-to source using the ``all-articles-list.html`` [template](https://github.com/rackerlabs/rackspace-how-to/blob/master/_includes/all-articles-list.html) from the rack

[2017-01-30 20:34] ReneeRendon commented on #473
Thanks @meker12 and @nimbinatus ! I would love to see those pages sorted by title!

[2017-02-08 17:00] meker12 commented on #380
This problem has been fixed:

![chrome-capture-fix-table](https://cloud.githubusercontent.com/assets/6391769/22747805/aa048a26-eded-11e6-9c7a-d71dee590ff0.png)

[2017-02-08 17:00] #380 closed, assigned to meker12

[2017-02-08 17:00] #611 closed, assigned to nobody

[2017-02-08 17:02] #498 closed, assigned to nobody

[2017-03-24 15:08] nimbinatus commented on #473
Closed by https://github.com/rackerlabs/rackspace-how-to/issues/1932

[2017-03-24 15:08] #473 closed, assigned to nimbinatus

[2017-03-29 17:55] ReneeRendon opened #701 "Present All Articles list in How-To as one long list vs several pages"
Currently, readers must click thru pages to find the article they are looking for when viewing the All Articles list. It would be easier for the reader to have one long scrolling list.

Not a top priority.

[2017-03-30 21:25] nimbinatus opened #702 "Change whitepaper from 'Edit this article' to 'Submit an issue'"
Requested by @ReneeRendon

[2017-04-11 19:07] ReneeRendon opened #704 "Pagination fix on All Articles lists in How-To"
The pagination always occurs even when it is not required. For example this page https://support.rackspace.com/how-to/dedicated-hosting-all-articles/

There is only 1 page so pagination is not required but it still renders the pagination div with a 1.

https://github.com/rackerlabs/nexus-control/blob/12c44bf166b3831035b254d7b291584ea70d7c7f/assets/support.rackspace.com/src/js/all-articles.js

The

[2017-04-17 16:56] narcher7 opened #707 "Remove Cloud Sites from Nexus-Control"

[2017-04-18 15:36] #707 closed, assigned to nobody

[2017-05-26 16:37] stephamon opened #731 "Redirect legacy KC article to How-To article"
I am sending you this so I do not forget. I have gotten two reports in the last two days of this link https://support.rackspace.com/knowledge_center/article/upgrading-to-exchange-2010-0/ going to a page that does not exist.

Redirect to https://support.rackspace.com/how-to/upgrading-to-exchange-2016/

[2017-10-05 20:02] catlook opened #768 "Broken link going to non-existent place"
When you click "Getting Started" in the sidebar it goes to "quickstart" which doesn't exist anywhere in the source.  None of the getting started pages seem to be accessible. They were accessible and behaved normally.

[2017-10-05 20:23] catlook commented on #768
This is redirect.  We solved by changing "getting-started" to "gettingstarted" for now.

[2017-10-05 20:23] #768 closed, assigned to catlook

[2017-12-04 17:53] stephamon opened #792 "(support.rax) update sign-up button options"
Cloud Office isn't called Email & Apps anymore, and also add sign-up options for O365 and FAWS.

[2018-06-01 15:09] #513 closed, assigned to nobody

[2018-06-01 15:11] #493 closed, assigned to nobody

[2018-09-14 20:04] cyrichardson opened #912 "Correct header links on https://developer.rackspace.com/"
The Developer Forum link gives this message: "Unfortunately, the page you've requested no longer exists. Please use the search form above to locate the information you're interested in."

The IRC on Freenode #rackspace link open login to IRC but no one is using IRC anymore.

I believe these links should be replaced with the same or similar links to those on the https://support.rackspace.com/ as sh

[2018-11-13 22:11] stephamon opened #943 "Asset preparer issue"
There were some build issues when I tried to add some new assets for support.rackspace.com, so we reverted the PR. In the build output, there are a bunch of deprecated packages related to the asset preparer:

[code]

Then at the bottom of the output, the following error shows: `Error running the asset preparer. { [Error: socket hang up] code: 'ECONNRESET' }`

When the PR with the new asset files w

[2018-11-13 22:12] stephamon commented on #943
Here's the error from my PR (#940):

[code]

[2019-06-21 16:37] robb-romans opened #1057 "Remove support header-as-a-service and test landing page"
Remove `<script type="text/javascript" src="https://c4d62906a15616653758-49dececd4e3f03377b7f33fac7abfae8.ssl.cf5.rackcdn.com/prod/raxheaderservice.js"></script>`
from
`templates/support.rackspace.com/deferred.html`

and test the landing page.

And finally, deprecate this page: https://one.rackspace.com/display/RED/Building%2C+testing%2C+and+deploying+support.rackspace.com

[2019-12-03 15:38] stephamon commented on #172
Tested a few guides and am no longer seeing this issue.

[2019-12-03 15:38] #172 closed, assigned to nobody

[2020-05-08 18:39] #704 closed, assigned to ReneeRendon

[2020-05-08 18:48] #103 closed, assigned to nobody

[2020-05-08 18:55] #430 closed, assigned to nobody

[2020-05-08 20:50] #393 closed, assigned to nobody